<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%; height: auto;">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="origin-when-cross-origin">

  <title>{%- block title -%}
    {%- if config.FATCAT_DOMAIN.startswith('qa.') -%}
      {{- "[QA] " -}}
    {%- elif config.FATCAT_DOMAIN.startswith('dev.') -%}
      {{- "[DEV] " -}}
    {%- endif -%}
    Perpetual Access To The Scholarly Record
  {%- endblock %} | fatcat!</title>

  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"
    crossorigin="anonymous">
  <style>
    {# bnewbold: fix light grey bars in header #}
    .ui.inverted.menu .item:before { background: none; }

    @media only screen and (max-width: 479px) {
      .mobile-hide{ display: none !important; }
    }
  </style>
  {% block extra_head %}{% endblock %}
</head>
<body style="margin-bottom: 130px;">

<header class="ui fixed inverted menu">
  <div class="ui container">
    {% if config.FATCAT_DOMAIN.startswith('qa.') %}
      <div class="ui left corner orange small label">
        <div data-tooltip="[QA] environment (data not preserved)" data-position="bottom left">
          <i class="ui cogs icon"></i>
        </div>
      </div>
    {% elif config.FATCAT_DOMAIN.startswith('dev.') %}
      <div class="ui left corner pink small label">
        <div data-tooltip="[DEV] environment (data not preserved)" data-position="bottom left">
          <i class="ui cogs icon"></i>
        </div>
      </div>
    {% endif %}
    <a href="/" class="header item">
      <!-- <img class="logo" src="assets/images/logo.png"> -->
      fatcat!
    </a>
    <a href="/about" class="item mobile-hide">About</a>
    <a href="https://guide.{{ config.FATCAT_DOMAIN }}/" class="item mobile-hide">Guide</a>
    <a href="/changelog" class="item mobile-hide">Changelog</a>
    <div class="right menu">
      <div class="item" style="padding: 0;">
        <form class="" action="/search" method="get" role="search" aria-label="Papers">
          <div class="ui transparent inverted icon input">
            <i class="search icon" style="padding-right: 2em;"></i>
            <input type="text" placeholder="Search Papers..." name="q" style="border: 1px solid #777 !important; padding: 5px !important; width: 15em;">
          </div>
        </form>
      </div>
{% if current_user.is_authenticated %}
      <div class="ui simple dropdown item">
      {{ current_user.username }} <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/editor/{{ current_user.editor_id }}/editgroups"><i class="history icon"></i>Edit History</a>
          <a class="item" href="/editor/{{ current_user.editor_id }}/annotations"><i class="edit icon"></i>Comment History</a>
          <div class="divider"></div>
          <a class="item" href="/auth/account"><i class="settings icon"></i>Account</a>
          <a class="item" href="/auth/logout"><i class="sign out icon"></i>Logout</a>
        </div>
      </div>
{% else %}
      <div class="ui simple item">
        <a href="/auth/login">Login/Signup</a>
      </div>
{% endif %}
    </div>
  </div>
</header>

{% block fullmain %}
<!-- 4em top margin is "enough" -->
<main class="ui main container" style="margin-top: 6em; margin-bottom: 2em;" {% block main_extra_attr %}{% endblock %}>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="ui message">
    {# Needs more javascript: <i class="close icon"></i> #}
    <div class="header">Flash Message!</div>
    <ul class="list">
    {% for message in messages %}
      <li>{{ message|safe }}
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endwith %}
{% block fullbody %}
  <div class="ui container text">
    {% block body %}Nothing to see here.{% endblock %}
  </div>
{% endblock %}
</main>
{% endblock %}


<footer class="ui inverted vertical footer segment" style="margin-top: 2em; padding-top: 2em; padding-bottom:2em; position: absolute; bottom: 0px; width: 100%;">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="/">fatcat!</a>
      <a class="item" href="/about">About</a>
      <a class="item" href="https://guide.{{ config.FATCAT_DOMAIN }}/sources.html">Sources</a>
      <a class="item" href="{% if config.FATCAT_DOMAIN == "fatcat.wiki" %}https://stats.uptimerobot.com/GM9YNSrB0{% elif config.FATCAT_DOMAIN =="qa.fatcat.wiki" %}https://stats.uptimerobot.com/WQ8wAUREA{% else %}#{% endif %}">Status</a>
      <a class="item" href="https://guide.{{ config.FATCAT_DOMAIN }}/bulk_exports.html">Bulk Exports</a>
      <a class="item" href="https://github.com/internetarchive/fatcat/">Code</a>
      <a class="item" href="https://github.com/internetarchive/fatcat/tree/{{ config.GIT_REVISION }}"><code>{{ config.GIT_REVISION }}</code></a>
      {% if config.FATCAT_DOMAIN.startswith('qa.') %}
        <a class="item"><b style="color: orange;">[QA]</b></a>
      {% elif config.FATCAT_DOMAIN.startswith('dev.') %}
        <a class="item"><b style="color: magenta;">[DEV]</b></a>
      {% endif %}
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>
<script
  src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.js"
  crossorigin="anonymous">
</script>
{% block postscript %}{% endblock %}

</body>
</html>
