{% set container = entity %}
{% set entity_view = "overview" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

<div class="ui stackable mobile reversed grid centered">
<div class="column" style="font-size: 16px; flex: 1;">

{% if container.container_type %}
  {% set pub_type_phrase = container.container_type %}
{% else %}
  {% set pub_type_phrase = '"container" (a publication venue)' %}
{% endif %}

{% if container.state == 'active' %}
<form class="" role="search" action="/container/{{ container.ident }}/search" method="get">
  <div class="ui form">
    <div class="ui action input large fluid">
      <input type="text" placeholder="Search Articles..." name="q" aria-label="search release metadata">
      <button class="ui button">Search</button>
    </div>
  </div>
</form>
{% endif %}

{% if (container.extra != None) and (container.extra['urls'] or container.extra['webarchive_urls']) %}
  <h3 class="ui dividing header">Homepage URLs</h3>
  <table class="ui very basic compact small single line fixed table">
    <tbody>
      {% for url in container.extra['urls'] or [] %}
        <tr><td><a href="{{ url }}" rel="nofollow"><code>{{ url }}</code></a></td>
      {% endfor %}
      {% for url in container.extra['webarchive_urls'] or [] %}
        <tr><td><a href="{{ url }}" rel="nofollow"><code>{{ url }}</code></a></td>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if container._random_releases %}
<h3 class="ui dividing header">Example Publications</h3>
{% for random_release in container._random_releases %}
  {{ entity_macros.release_search_result_row(random_release) }}
{% endfor %}
{% endif %}

</div>

{# start right-hand entity column #}
<div class="column" style="flex: 0 0 24em;">

{% if container._stats %}
<div class="ui segment top attached">
  <div style="text-align: center;">
    <div class="ui small statistic">
      <div class="value">{{ "{:,}".format(container._stats.total) }}</div>
      <div class="label" style="text-transform: none;">Known Releases</div>
    </div>
  </div>
</div>
{% endif %}

{% if container._es and container._es.is_oa == True %}
<div class="ui segment center aligned attached">
  <i class="icon unlock large orange"></i><b>Open Access Publication</b>
</div>
{% endif %}

{% if container._stats and container._stats.total >= 1 %}
<div class="ui segment attached">
  <b>Preservation Summary <a href="/container/{{ container.ident }}/coverage">[more]</a></b><br>
  {{ entity_macros.preservation_bar(container._stats.preservation) }}
  {{ entity_macros.preservation_small_table(container._stats.preservation) }}
</div>
{% endif %}

{% if container._stats and container._stats.total >= 1 %}
<div class="ui segment attached">
  <b>Release Types</b><br>
  {% if container._stats.total >= 1 %}
    <table class="ui very basic very compact collapsing table" style="margin-top: 0px;">
      <tbody>
        {% for type_row in container._stats.release_type %}
        <tr>
          <td class="three wide">
            {% if type_row == "_unknown" %}<i>unknown-type</i>{% else %}<code>{{ type_row }}</code>{% endif %}
          <td class="three wide right aligned">
            {% if type_row == "_unknown" %}
              <a href="/container/{{ container.ident }}/search?q=!release_type:*">
            {% else %}
              <a href="/container/{{ container.ident }}/search?q=release_type:{{ type_row }}">
            {% endif %}
            {{ "{:,}".format(container._stats.release_type[type_row]) }}
            </a>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endif %}

{% if container.container_type != None or container.publication_status != None %}
<div class="ui segment attached">
  {% if container.container_type != None %}
    <b>Publication Type</b> &nbsp;<code>{{ container.container_type or 'unknown' }}</code><br>
  {% endif %}
  {% if container.publication_status != None %}
    <b>Publication Status</b> &nbsp;<code>{{ container.publication_status or 'unknown' }}</code><br>
  {% endif %}
  {% if container.extra and container.extra.country %}
    <b>Country Code</b> &nbsp;<code>{{ container.extra.country }}</code><br>
  {% endif %}
</div>
{% endif %}

{% if container.issnl != None or container.issne != None or container.issnp != None or container.wikidata_qid != None %}
<div class="ui segment attached">
  {% if container.issnl != None %}
    <b>ISSN-L<sup><a href="https://en.wikipedia.org/wiki/International_Standard_Serial_Number#Linking_ISSN">?</a></sup></b>
    &nbsp;<code><a href="https://portal.issn.org/resource/issn/{{ container.issnl }}">{{ container.issnl }}</a></code><br>
  {% endif %}
  {% if container.issnp or (container.extra != None and container.extra.issnp != None and (container.extra.issnp|length > 0)) %}
    &nbsp; &nbsp; <b>Print:</b> &nbsp;<code>{{ container.issnp or container.extra.issnp }}</code><br>
  {% endif %}
  {% if container.issne or (container.extra != None and container.extra.issne != None and (container.extra.issne|length > 0)) %}
    &nbsp; &nbsp; <b>Electronic:</b> &nbsp;<code>{{ container.issne or container.extra.issne }}</code><br>
  {% endif %}
  {% if container.wikidata_qid != None %}
    <b>Wikidata</b> &nbsp;<a href="https://wikidata.org/wiki/{{ container.wikidata_qid }}"><code>{{ container.wikidata_qid }}</code></a><br>
  {% endif %}
  {% if container.extra and container.extra.dblp %}
    <b>dblp</b> &nbsp;<a href="https://dblp.org/{{ container.extra.dblp.prefix }}"><code>{{ container.extra.dblp.prefix }}</code></a><br>
  {% endif %}
  {% if container.extra and container.extra.ia and container.extra.ia.sim %}
    <b>archive.org</b> &nbsp;<a href="https://archive.org/search.php?query=sim_pubid%3A{{ container.extra.ia.sim.sim_pubid }}%20mediatype%3Acollection"><code>sim_pubid:{{ container.extra.ia.sim.sim_pubid }}</code></a><br>
  {% endif %}
</div>
{% endif %}

{% if (container._es and container._es != None) %}
<div class="ui segment attached">
<b>Directory Listings</b><br>
  {% if container._es.in_doaj == True %}
    <i class="icon check green"></i> In <a href="https://doaj.org/toc/{{ container.issnl }}">DOAJ</a><br>
  {% elif container._es.in_doaj == False %}
    <i class="icon times grey"></i> Not in <a href="https://doaj.org">DOAJ</a><br>
  {% endif %}

  {% if container._es.in_road == True %}
    <i class="icon check green"></i> In <a href="http://road.issn.org/issn/{{ container.issnl }}">ISSN ROAD</a><br>
  {% endif %}

  {% if container.extra and container.extra.szczepanski %}
    <i class="icon check green"></i> In <a href="https://www.ebsco.com/open-access/szczepanski-list">Szczepanski List</a><br>
  {% endif %}
</div>
{% endif %}

{#
{%- if container.extra and container.extra.kbart %}
<div class="ui segment attached">
<b>Preservation Holdings</b><br>
  {% for k, v in container.extra.kbart.items() %}
    {% if k == "lockss" %}
      <a href="https://www.lockss.org/">LOCKSS</a>:
    {% elif k == "clockss" %}
      <a href="https://clockss.org/">CLOCKSS</a>:
    {% elif k == "hathitrust" and container.issnl %}
      <a href="https://catalog.hathitrust.org/Search/Home?lookfor={{ container.issnl }}&searchtype=isn&ft=&setft=false">HathiTrust</a>:
    {% elif k == "portico" and container.issnl %}
      <a href="https://www.portico.org/coverage/titles/?keyword={{ container.issnl }}">Portico</a>:
    {% elif k == "scholarsportal" and container.issnl %}
      <a href="https://journals.scholarsportal.info/search?q={{ container.issnl }}&search_in=ISSN">Scholars Portal</a>:
    {% else %}
      <span style="text-transform: uppercase;">{{ k }}:</span>
    {% endif %}
    years
    {% for span in v.year_spans %}
      {% if span|length >= 2 -%}
        {{ span[0] }}-{{ span[1] -}}
      {% elif span|length == 1 -%}
        {{ span[0] -}}
      {% endif -%}
      {{- ", " if not loop.last }}
    {% endfor %}
    <br>
  {% endfor %}
</div>
{% endif %}
#}

<div class="ui segment attached accordion">
  <div class="title" style="padding: 0px;"><i class="dropdown icon"></i><b>Lookup Links</b></div>
  <div class="content">
    {% if container.issnl %}
      <a href="https://portal.issn.org/resource/issn/{{ container.issnl }}">ISSN Portal</a><br>
      <a href="https://keepers.issn.org/?q=api/search&search[]=MUST=allissn={{ container.issnl }}&search[]=MUST_EXIST=keepers">The Keepers Registry</a> (preservation)<br>
      <a href="http://www.sherpa.ac.uk/romeo/issn/{{ container.issnl }}/">SHERPA/RoMEO</a> (access policies)<br>
    {% endif %}
    {% if not container.wikidata_qid %}
      <a href="https://www.wikidata.org/w/index.php?search={{ container.name|urlencode }}">wikidata.org</a><br>
    {% endif %}
  </div>
</div>

{{ entity_macros.fatcat_bits(entity, "container", "", editgroup) }}

</div>
</div>

{% endblock %}
