{% set container = entity %}
{% set entity_view = "overview" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

<div class="ui stackable mobile reversed grid centered">
<div class="column" style="font-size: 16px; flex: 1;">

{% if (container.extra != None) and (container.extra['urls'] != None) and (container.extra['urls']|length > 0) %}
  <div style="text-overflow: ellipsis; overflow: hidden; width: 100%;">
    <a href="{{ container.extra['urls'][0] }}"><code>{{ container.extra['urls'][0] }}</code></a>
  </div>
{% elif (container.extra != None) and (container.extra['webarchive_urls'] != None) and (container.extra['webarchive_urls']|length > 0) %}
{# fallback to a webarchive URL if no valid/live homepage URL #}
  <div style="text-overflow: ellipsis; overflow: hidden; width: 100%;">
    <a href="{{ container.extra['webarchive_urls'][0] }}"><code>{{ container.extra['webarchive_urls'][0] }}</code></a>
  </div>
{% endif %}
<p>
{% if container.publisher != None %}
  Published by {{ container.publisher }}
{% endif %}

{% if container.issnl %}
<h3>Search Releases from this Container</h3>
<form class="" role="search" action="/release/search" method="get">
  <div class="ui form">
    <div class="ui action input large fluid">
      <input type="text" placeholder="Search Articles..." name="q" aria-label="search release metadata">
      <input type="hidden" name="container_issnl" value="{{ container.issnl }}">
      <button class="ui button">Search</button>
    </div>
  </div>
</form>
{% endif %}

</div>
<div class="column" style="flex: 0 0 24em;">
<div class="ui segment top attached">

{% if container._es and container._es.is_oa == True %}
<i class="icon unlock huge orange"></i><b>Open Access Publisher</b>
{% elif container._es and container._es.is_oa == False  %}
<i class="icon lock huge black"></i><b>Not Open Access</b>
{% else %}
<i class="icon question huge grey"></i><b>Unknown OA Status</b>
{% endif %}
</div><div class="ui segment attached">

{% if container.issnl != None or container.wikidata_qid != None %}
{% if container.issnl != None %}
  <b>ISSN-L<sup><a href="https://en.wikipedia.org/wiki/International_Standard_Serial_Number#Linking_ISSN">?</a></sup></b> 
  &nbsp;<code>{{ container.issnl }}</code>
  {% if container.extra != None and container.extra.ISSNp != None and (container.extra.ISSNp|length > 0) %}
    <br><i class="icon paperclip"></i>Print: &nbsp;<code>{{ container.extra.ISSNp }}</code>
  {% endif %}
  {% if container.extra != None and container.extra.ISSNe != None and (container.extra.ISSNe|length > 0) %}
    <br><i class="icon plug"></i>Electronic: &nbsp;<code>{{ container.extra.ISSNe }}</code>
  {% endif %}
  <br>
{% endif %}
{% if container.wikidata_qid != None %}
  <b>Wikidata</b> &nbsp;<a href="https://wikidata.org/wiki/{{ container.wikidata_qid }}"><code>{{ container.wikidata_qid }}</code></a>
{% endif %}
  </div><div class="ui segment attached">
{% endif %}

{% if container._stats %}
<b>Release Counts</b><br>
  {{ "{:,}".format(container._stats.total) }} total
  {% if container._stats.total >= 1 %}
    <br>{{ "{:,}".format(container._stats.in_kbart ) }}
    (<b>{{ "{:.1f}".format(container._stats.in_kbart/container._stats.total*100) }}%</b>) 
    preserved (dark)
    <br>{{ "{:,}".format(container._stats.is_preserved) }}
    (<b>{{ "{:.1f}".format(container._stats.is_preserved/container._stats.total*100) }}%</b>) 
    preserved or available
    <br>{{ "{:,}".format(container._stats.in_web) }}
    (<b>{{ "{:.1f}".format(container._stats.in_web/container._stats.total*100) }}%</b>) 
    fulltext available to read
  {% endif %}
</div><div class="ui segment attached">
{% endif %}

{% if (container._es and container._es != None) %}
<b>Directory Listings</b><br>
  {% if container._es.in_doaj == True %}
    <i class="icon check green"></i> In <a href="https://doaj.org/toc/{{ container.issnl }}">DOAJ</a><br>
  {% elif container._es.in_doaj == False %}
    <i class="icon times grey"></i> Not in <a href="https://doaj.org">DOAJ</a><br>
  {% endif %}

  {% if container._es.in_road == True %}
    <i class="icon check green"></i> In <a href="http://road.issn.org/issn/{{ container.issnl }}">ISSN ROAD</a><br>
  {% elif container._es.in_road == False %}
    <i class="icon times grey"></i> Not in <a href="https://road.issn.org">ISSN ROAD</a><br>
  {% endif %}

  {% if container._es.in_kbart == True %}
    <i class="icon check green"></i> In <a href="https://thekeepers.org/purl/issn/{{ container.issnl }}">Keepers Registery</a><br>
  {% elif container._es.in_kbart == False %}
    <i class="icon times grey"></i> Not in <a href="https://thekeepers.org/journals?query={{ container.issnl }}">Keepers Registry</a><br>
  {% endif %}

  {% if container.extra and container.extra.sherpa_romeo and container.extra.sherpa_romeo.color %}
    SHERPA/RoMEO color: <code>{{ container.extra.sherpa_romeo.color }}</code>
  {% endif %}
</div><div class="ui segment attached">
{% endif %}

<b>Lookup Links</b>
<br><a href="http://www.sherpa.ac.uk/romeo/issn/{{ container.issnl }}/">SHERPA/RoMEO</a> (access policies)
{% if not container.wikidata_qid %}
  <br><a href="https://www.wikidata.org/w/index.php?search={{ container.name|urlencode }}">wikidata.org</a>
{% endif %}
</div>

{{ entity_macros.fatcat_bits(entity, "container", "", editgroup) }}

</div>
</div>

{% endblock %}
