{% set container = entity %}
{% set entity_view = "coverage" %}
{% set entity_type = "container" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

<div class="ui centered grid">
  <div class="row">
    <div class="twelve wide column">
      <div class="ui large horizontal statistic">
        <div class="value">{{ "{:,}".format(container._stats.total) }}</div>
        <div class="label" style="text-transform: none;">Known Releases</div>
      </div>
      {% if container._stats.total >= 1 %}

        {% set frac_kbart = container._stats.in_kbart/container._stats.total %}
        {% set frac_preserved = container._stats.is_preserved/container._stats.total %}
        {% set frac_web = container._stats.in_web/container._stats.total %}

        {% set pstats = container._stats.preservation %}
        {% set frac_bright = container._stats.preservation.bright/container._stats.total %}
        {% set frac_dark = container._stats.preservation.dark/container._stats.total %}
        {% set frac_shadows_only = container._stats.preservation.shadows_only/container._stats.total %}
        {% set frac_none = container._stats.preservation.none/container._stats.total %}

        <div class="ui large multiple progress" data-percent="0,0,0,0" style="margin-bottom: 0.1em;">
          <div class="green bar" style="border-radius: 0; min-width: 0; width: {{ (frac_bright*100)|round(method='ceil') }}%;" title="bright">
            <div class="progress">{# {{ (frac_bright*100)|int }}% #}</div>
          </div>
          <div class="green bar" style="border-radius: 0; min-width: 0; width: {{ (frac_dark*100)|round(method='ceil') }}%; background-color: darkgreen;">
            <div class="progress">{# {{ (frac_dark*100)|int }}% #}</div>
          </div>
          <div class="red bar" style="border-radius: 0; min-width: 0; width: {{ (frac_shadows_only*100)|round(method='ceil') }}%; background-color: darkred;">
            <div class="progress">{# {{ (frac_shadows_only*100)|int }}% #}</div>
          </div>
          <div class="red bar" style="border-radius: 0; min-width: 0; width: {{ (frac_none*100)|round(method='ceil') }}%;">
            <div class="progress">{# {{ (frac_none*100)|int }}% #}</div>
          </div>
        </div>
        <table class="ui very basic very compact collapsing table" style="font-weight: bold; margin-left: 1em;">
          <tbody>
            <tr>
              <td style="background-color: green;">
              <td class="right aligned" >{{ "{:,}".format(pstats.bright) }}
              <td class="right aligned" >{{ (frac_bright*100)|round(2,method='ceil') }}%
              <td>preserved and publicly available (bright)
            <tr>
              <td style="background-color: darkgreen;">
              <td class="right aligned" >{{ "{:,}".format(pstats.dark) }}
              <td class="right aligned" >{{ (frac_dark*100)|round(2,method='ceil') }}%
              <td>preserved but not publicly accessible (dark)
            <tr>
              <td style="background-color: darkred;">
              <td class="right aligned" >{{ "{:,}".format(pstats.shadows_only) }}
              <td class="right aligned" >{{ (frac_shadows_only*100)|round(2,method='ceil') }}%
              <td>only independently preserved in "shadow" libraries
            <tr>
              <td style="background-color: red;">
              <td class="right aligned" >{{ "{:,}".format(pstats.none) }}
              <td class="right aligned" >{{ (frac_none*100)|round(2,method='ceil') }}%
              <td>no known independent preservation
          </tbody>
        </table>

      {% endif %}
    </div>
  </div>
</div>

{% if container._stats.total >= 1 %}
  <br>
  <br>
  <h2>Perpetual Access Coverage by Year</h2>

  <figure style="margin: 0 0 0 0;">
    <embed type="image/svg+xml" src="/container/{{ container.ident }}/ia_coverage_years.svg" />
  </figure>

  <div style="float: right;">
    <a href="/container/{{ container.ident }}/ia_coverage_years.json">Download as JSON</a>
  </div>
{% endif %}

{% endblock %}

