{% extends "container_edit.html" %}

{% block edit_form_prefix %}
<div class="ui segment">
<h1 class="ui header">Create New Container Entity</h1>

<p>A "container" is a anything that groups publications together. For example,
a journal (eg, "New England Journal of Medicine"), conference proceedings, a
book series, or a blog.

<p>Not all publications are in a container.


<form class="ui form" id="create_container_form" method="POST" action="/container/create">
{% endblock %}

{% block edit_form_suffix %}
  <br><br>
  <input class="ui primary submit button" type="submit" value="Create Container!">
  <p>
  <i>New entity will be part of the current editgroup, which needs to be
  submited and approved before the entity will formally be included in the
  catalog.</i>
</form>
</div>
{% endblock %}

