{% set entity = creator %}
{% import "entity_macros.html" as entity_macros %}
{% extends "base.html" %}

{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">{{ creator.display_name }}
  <div class="sub header"><code>creator {{ creator.ident }}</code></div></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

{% if creator.given_name or creator.surname %}
  <table class="ui definition single line fixed compact small unstackable table">
  <tbody>
    <tr><td class="two wide right aligned">Given name</td>
        <td class="seven wide">
          {% if creator.given_name != None %}{{ creator.given_name}}{% else %}<i>None or unknown</i>{% endif %}
        </td>
    <tr><td class="two wide right aligned">Surname</td>
        <td class="seven wide">
          {% if creator.surname != None %}{{ creator.surname }}{% else %}<i>None or unknown</i>{% endif %}
        </td>
  </tbody>
  </table>
{% endif %}

{% if creator.extra != None %}
<h3>Extra Metadata (raw JSON)</h3>
  <table class="ui definition single line fixed compact small unstackable table">
  <tbody>
  {% for (key, value) in release.extra.items() %}
    <tr><td class="three wide right aligned"><code>{{ key }}</code></td>
        <td class="seven wide"><code>{{ value }}</code>
  {% endfor %}
  </tbody>
  </table>
{% endif %}

<br>
<h3>Releases</h3>
{% if releases != [] %}
  <p>This creator has contributed to:
  <table class="ui very basic celled table">
  <tbody>
  {% for release in releases %}
    <tr><td class="two wide center aligned">
          {% if release.release_date %}{{ release.release_date }}{% elif release.release_year %}{{ release.release_year }}{% endif %}
        <td class="five wide single line">
          <b><a href="/release/{{ release.ident }}">{{ release.title }}</a></b>
          <br>{{ release.release_type or "unknown" }} - {{ release.release_status or "unknown" }}
                {% if release.license_slug %} - {{ release.license_slug }}{% endif %}
          {% if release.doi %}
            <br><a href="https://doi.org/{{ release.doi }}" style="color:green;">doi:{{ release.doi }}</a>
          {% endif %}
  {% endfor %}
  </tbody>
  </table>
{% else %}
This creator has not contributed to any releases.
{% endif %}

</div>
<div class="five wide column">
<div class="ui segment top attached">

{% if creator.orcid or creator.wikidata_qid %}
  {% if creator.orcid %}
    <b>ORCID<sup><a href="https://en.wikipedia.org/wiki/Orcid">?</a></sup></b>
      &nbsp;<a href="https://orcid.org/{{creator.orcid}}"><code>{{ creator.orcid }}</code></a><br>
  {% endif %}
  {% if creator.wikidata_qid %}
    <b>Wikidata</b> <a href="https://www.wikidata.org/wiki/{{ creator.wikidata_qid }}">
      &nbsp;<code>{{ creator.wikidata_qid }}</code></a><br>
  {% endif %}
</div><div class="ui segment attached">
{% endif %}

<b>Lookup Links</b>
<br><a href="https://www.wikidata.org/w/index.php?search=&search={{ creator.display_name }}">wikidata.org</a>
<br><a href="https://viaf.org/viaf/search?query=local.personalNames%20all%20%22{{ creator.display_name }}">VIAF</a>
<br><a href="http://dblp.uni-trier.de/search?q={{ creator.display_name }}">dblp</a> (CS)
<br><a href="https://scholar.google.com/scholar?q={{ creator.display_name }}">Google Scholar</a>
</div>

{{ entity_macros.fatcat_bits(entity, "creator", "") }}

</div>
</div>

{% endblock %}
