{% extends "base.html" %}
{% block body %}

<h1 class="ui header">Edit History
<div class="sub header">
    <code>editor
      <a href="/editor/{{editor.editor_id}}">{{ editor.username }}</a>
    </code>
  </a>
</div>
</h1>

<table class="ui table">
  <thead><tr>{# <th>Created (UTC) #}
             <th>Status
             <th>Editgroup
             <th>Description
  <tbody>
  {% for editgroup in editgroups %}
  <tr>{# <td>{{ editgroup.created }} #}
      <td>{% if editgroup.changelog_index %}
            Merged<br>(<a href="/changelog/{{ editgroup.changelog_index }}">#{{ editgroup.changelog_index }}</a>)
          {% elif editgroup.submitted %}
            Submitted<br>({{ editgroup.submitted }})
          {% else %}
            Work in Progress
          {% endif %}
      <td><code><a href="/editgroup/{{ editgroup.editgroup_id }}">{{ editgroup.editgroup_id }}</a></code>
      <td>{% if editgroup.description != None %}{{ editgroup.description }}{% endif %}
  {% endfor %}
</table>

{% endblock %}
