{% extends "base.html" %}
{% block body %}

<h1 class="ui header">Editor Changelog: {{ editor.username }}
<div class="sub header">
  <a href="/editor/{{editor.editor_id}}">
    <code>editor {{ editor.editor_id }}</code>
  </a>
</div>
</h1>

<p>Changes accepted (aka, merged editgroups):
<table class="ui table">
  <thead><tr><th>Created (UTC)
             <th>Editgroup
             <th>Editor
             <th>Description
  <tbody>
  {% for editgroup in editgroups %}
  <tr><td>{{ editgroup.created }}
      <td><code><a href="/editgroup/{{ editgroup.editgroup_id }}">{{ editgroup.editgroup_id }}</a></code>
      <td><code><a href="/editor/{{ editgroup.editor_id }}">{{ editgroup.editor_id }}</a></code>
      <td>{% if editgroup.description != None %}{{ editgroup.description }}{% endif %}
  {% endfor %}
</table>

{% endblock %}
