{% extends "base.html" %}
{% block body %}

{% macro edit_list(edits, entity_type, entity_name) -%}
<div class="{% if edits %}active{% endif %} title">
  <h3><i class="dropdown icon"></i>{{ entity_name }} Edits ({{ edits|count }})</h3>
</div><div class="{% if edits %}active{% endif %} content" style="padding-bottom: 0.5em;">
  <div class="ui divided list">
    {% for edit in edits %}
    <div class="item">
      <div class="content">
        <div class="header">
          <a href="/{{ entity_type }}/{{ edit.ident }}">{{ entity_type }}/{{ edit.ident }}</a>
          {% if edit.redirect_ident %}
            =&gt; redirect to <a href="/{{ entity_type }}/{{ edit.redirect_ident }}">{{ entity_type }}/{{ edit.redirect_ident }}</a>
          {% elif not edit.revision %}
            deleted
          {% elif not edit.prev_revision %}
            created
          {% else %}
            updated
          {% endif %}
        </div>
        {% if edit.revision %}
          Revision: <small><code>{{ edit.revision }}</code></small>
        {% endif %}
        {% if edit.extra %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%- endmacro %}

{# extended by changelog_entry #}
{% block editgroupheader %}
{% if not editgroup.changelog_index %}
  <div class="ui right floated center aligned segment">
    {% if auth_to_accept %}
      <form id="submit_editgroup_form" method="POST" action="/editgroup/{{ editgroup.editgroup_id }}/accept">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="ui orange button">Accept Edits</button>
      </form><br>
    {% endif %}
    {% if auth_to_submit %}
      {% if editgroup.submitted %}
        <form id="submit_editgroup_form" method="POST" action="/editgroup/{{ editgroup.editgroup_id }}/unsubmit">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="ui button">Un-Submit</button>
        </form><br>
        <form id="submit_editgroup_form" method="POST" action="/editgroup/{{ editgroup.editgroup_id }}/submit">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="ui button">Re-Submit</button>
        </form>
      {% else %}
        <form id="submit_editgroup_form" method="POST" action="/editgroup/{{ editgroup.editgroup_id }}/submit">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="ui primary button">Submit</button>
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endif %}

<h1 class="ui header">Editgroup
<div class="sub header"><code>editgroup {{ editgroup.editgroup_id }}</code></div></h1>
{% endblock %}

<br><b>Status:</b>
{% if editgroup.changelog_index %}
  Merged (<a href="/changelog/{{ editgroup.changelog_index }}">Changelog #{{ editgroup.changelog_index }}</a>)
{% elif editgroup.submitted %}
  Submitted ({{ editgroup.submitted }})
{% else %}
  Not Submitted
{% endif %}

<br><b>Editor:</b> <a href="/editor/{{editgroup.editor_id}}">{{ editgroup.editor.username }}</a>
<br><b>Description:</b>
{% if editgroup.description %}
  {{ editgroup.description }}
{% else %}
  <i>none</i>
{% endif %}
<br><br clear="all">

<div class="ui styled fluid accordion">
  {{ edit_list(editgroup.edits.works, "work", "Work") }}
  {{ edit_list(editgroup.edits.releases, "release", "Release") }}
  {{ edit_list(editgroup.edits.containers, "container", "Container") }}
  {{ edit_list(editgroup.edits.creators, "creator", "Creator") }}
  {{ edit_list(editgroup.edits.files, "file", "File") }}
  {{ edit_list(editgroup.edits.filesets, "fileset", "File Set") }}
  {{ edit_list(editgroup.edits.webcaptures, "webcapture", "Web Capture") }}
</div>


<br>
<p><b>What is an editgroup?</b>
An editgroup is a set of entity edits, bundled together into a coherent,
reviewable bundle.

{% endblock %}

{% block postscript %}
<script>
$('.ui.accordion')
  .accordion({ exclusive: false });
</script>
{% endblock %}
