{% extends "base.html" %}
{% block body %}

<h1 class="ui header">Editor Changelog: {{ editor.username }}
<div class="sub header">
  <a href="/editor/{{editor.editor_id}}">
    <code>editor {{ editor.editor_id }}</code>
  </a>
</div>
</h1>

<p>Changes accepted (aka, merged editgroups):
<table class="ui table">
  <thead><tr><th>Changelog<br>Index
             <th>Timestamp (UTC)
             <th>Editgroup
             <th>Editor
             <th>Description
  <tbody>
  {% for entry in changelog_entries %}
  <tr><td><a href="/changelog/{{ entry.index }}">{{ entry.index }}</a>
      <td>{{ entry.timestamp }}
      <td><code><a href="/editgroup/{{ entry.editgroup_id }}">{{ entry.editgroup_id }}</a></code>
      <td><code><a href="/editor/{{ entry.editgroup.editor_id }}">{{ entry.editgroup.editor_id }}</a></code>
      <td>{% if entry.editgroup.description != None %}{{ entry.editgroup.description }}{% endif %}
  {% endfor %}
</table>

{% endblock %}
