{% set entity_view = "metadata" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

<h3>Entity Metadata (schema)</h3>
{% if entity._metadata %}
  {{ entity_macros.extra_metadata(entity._metadata) }}
{% else %}
  <table class="ui definition single line fixed compact small unstackable table">
    <tbody>
      <tr><td class="center aligned"><i>No specific metadata for this entity</i></td>
    </tbody>
  </table>
{% endif %}
<div style="float: right;">
  <a href="{{ config.FATCAT_PUBLIC_API_HOST }}/{{ entity_type }}/{{ entity.ident }}">As JSON via API</a>
</div>

{% if entity.extra %}
  <h3>Extra Metadata (raw JSON)</h3>
  {{ entity_macros.extra_metadata(entity.extra) }}
{% endif %}

{% endblock %}

