
{% macro fatcat_bits(entity, entity_type, expand="") -%}
<div class="ui segment attached">
  <b>Fatcat Bits</b>
  <p>State is "{{ entity.state }}". Revision:
  <br><small><code>{{ entity.revision }}</code></small>
  <br><a href="https://api.{{ config.FATCAT_DOMAIN }}/v0/release/{{ entity.ident }}{% if expand %}?expand={{ expand}}{% endif %}">As JSON object via API</a>
</div>

<div class="two ui buttons bottom attached">
  <a href="/{{ entity_type }}/{{ entity.ident }}/edit" class="ui blue button">Edit Metadata</a>
  <a href="/{{ entity_type }}/{{ entity.ident }}/history" class="ui button">View History</a>
</div>
{%- endmacro %}
