{% extends "base.html" %}
{% block body %}

<h1 class="ui header">{% if page_title != None %}{{ page_title }}{% endif %}
<div class="sub header">
  <a href="/{{entity_type}}/{{entity.ident}}">
    <code>{{ entity_type }} {{ entity.ident }}</code>
  </a>
</div>
</h1>

<h3 class="ui header">Edit History</h3>

This table only shows <i>merged</i> edits, not work-in-progress.

<table class="ui table">
  <thead><tr><th>Changelog
             <th>Editgroup
             <th>Description
  <tbody>
  {% for entry in history %}
  <tr><td><a href="/changelog/{{ entry.changelog_entry.index }}">{{ entry.changelog_entry.index }}</a>
          <br>{{ entry.changelog_entry.timestamp.strftime("%Y-%m-%d %H:%M") }}
      <td><a href="/editgroup/{{ entry.editgroup.editgroup_id }}">{{ entry.editgroup.editgroup_id[:8] }}...</a> by
          <a href="/editor/{{ entry.editgroup.editor_id }}">editor_id</a>
      <td>{% if entry.editgroup.description != None %}{{ entry.editgroup.description }}{% endif %}
  {% endfor %}
</table>

{% endblock %}
