{% import "edit_macros.html" as edit_macros %}
{% extends "base.html" %}

{% block body %}

{{ edit_macros.edit_link_bar(entity_type, existing_ident, 'delete') }}

{% block edit_form_prefix %}
  <div class="ui segment">
  <h1 class="ui header">Delete Entity</h1>

  <form class="ui form" id="delete_form" method="POST" action="{% if editgroup and editgroup.editgroup_id %}/editgroup/{{ editgroup.editgroup_id }}{% endif %}/{{ entity_type }}/{{ existing_ident }}/delete">
{% endblock %}

  <p>See <a href="https://guide.fatcat.wiki/style_guide.html">the catalog
  style guide</a> for schema notes, and <a
  href="https://guide.fatcat.wiki/editing_quickstart.html">the editing
  tutorial</a> if this is your first time making an edit.

  {{ form.hidden_tag() }}

  <h3 class="ui dividing header">Editgroup Metadata</h3>
  {{ edit_macros.editgroup_dropdown(form, editgroup, potential_editgroups) }}

  <h3 class="ui dividing header">Submit</h3>
  {{ edit_macros.form_field_basic(form.edit_description) }}
  This description will be attached to the individual edit, not to the
  editgroup as a whole.

{% block edit_form_suffix %}
  <br><br>
  <input class="ui primary submit button" type="submit" value="Update Release!">
  <p>
  <i>Deletion will be part of the current editgroup, which needs to be submitted and
  approved before the change is included in the catalog.</i>
</form>
</div>
{% endblock %}
{% endblock %}

{% block postscript %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
<!-- Form code -->
$(document).ready(function() {

  // these javascript dropdowns hide the original <input>, which breaks browser
  // form focusing (eg, for required fields) :(
  $('.ui.dropdown') .dropdown();
});
</script>
{% endblock %}
