{% set fileset = entity %}
{% set entity_view = "overview" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

<div class="ui stackable mobile reversed grid centered">
<div class="column" style="font-size: 16px; flex: 1;">

<h3>Releases</h3>
{% if entity.releases != [] %}
  {{ entity_macros.release_list(entity.releases) }}
{% else %}
  <p>
  This File Set is not associated with any fatcat release.
{% endif %}
 

<h3>File Manifest ({{ fileset.manifest|count }})</h3>
{% if fileset.manifest %}
  <div class="ui celled list">
    {% for file in fileset.manifest %}
    <div class="item">
      <div class="content"><code>
        <div class="header">
          <i class="file outline icon"></i> {{ file.path }} ({{ file.size|filesizeformat }}{% if file.extra.mimetype %}, {{ file.extra.mimetype }}{% endif %})
        </div>
        <div style="color: #666; margin-left: 1em;"><small>
          {% if file.md5 %}   md5:{{ file.md5 }}<br>{% endif %}
          {% if file.sha1 %}  sha1:{{ file.sha1 }}<br>{% endif %}
          {% if file.sha256 %}sha256:{{ file.sha256 }}<br>{% endif %}
        </small></div>
      </code></div>
    </div>
    {% endfor %}
  </div>
{% else %}
This File Set is empty (contains no files).
{% endif %}


<br>
<h3>Base URLs</h3>
{% if entity.urls %}
  {{ entity_macros.url_list(entity.urls) }}
{% else %}
No known public URL, mirror, or archive for this File Set.
{% endif %}

</div>
<div class="column" style="flex: 0 0 24em;">

{% if fileset._total_size != None %}
<div class="ui segment attached">
  <p><b>Total Size</b> &nbsp;{{ fileset._total_size|filesizeformat }}
</div>
{% endif %}

{{ entity_macros.fatcat_bits(entity, "fileset", "", editgroup) }}

</div>
</div>

{% endblock %}
