{% set entity = file %}
{% import "entity_macros.html" as entity_macros %}
{% extends "base.html" %}

{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">
  <span class="sub header"><code>file {{ file.ident }}</code></span></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

{% if entity.extra %}
  <h3>Extra Metadata (raw JSON)</h3>
  {{ entity_macros.extra_metadata(entity.extra) }}
{% endif %}

<h3>Releases</h3>
{% if entity.releases != [] %}
  {{ entity_macros.release_list(entity.releases) }}
{% else %}
  <p>
  This file is not associated with any fatcat release.
{% endif %}


<h3>URLs</h3>
{% if file.urls != None %}
  {{ entity_macros.url_list(file.urls) }}
{% else %}
No known public URL, mirror, or archive for this file.
{% endif %}

<h3>Checksums</h3>
<table class="ui definition single line fixed compact small unstackable table">
  <tbody>
    {% if file.sha1 != None %}
    <tr><td class="one wide right aligned">SHA-1
        <td class="four wide"><small><code>{{ file.sha1 }}</code></small>
    {% endif %}
    {% if file.sha256 != None %}
    <tr><td class="one wide right aligned">SHA-256
        <td><small><code>{{ file.sha256 }}</code></small>
    {% endif %}
    {% if file.md5!= None %}
    <tr><td class="one wide right aligned">MD5
        <td><small><code>{{ file.md5 }}</code></small>
    {% endif %}
</table>

</div>
<div class="five wide column">

{% if file.urls != None and file.urls != [] %}
<a href="{{ file.urls[0].url }}" class="ui top attached fluid huge green button"><i class="file icon"></i>Download File</a>
{% else %}
<span class="ui top attached fluid huge grey button"><i class="file cross icon"></i>No Download Available</span>
{% endif %}

{% if file.size != None %}
<div class="ui segment attached">
  <p><b>Size</b> &nbsp;{{ file.size|filesizeformat }}
</div>
{% endif %}

{% if file.mimetype != None %}
<div class="ui segment attached">
  <p><b>File Type</b> &nbsp;<code>{{ file.mimetype }}</code>
</div>
{% endif %}

{{ entity_macros.fatcat_bits(entity, "file", "") }}

</div>
</div>


{% endblock %}
