{% extends "base.html" %}

{# no special title for now #}
{# {% block title %}Perpetual Access to the Scholarly Record{% endblock %} #}

{% block extra_head %}
  <link rel="canonical" href="https://{{ config.FATCAT_DOMAIN }}/">
{% endblock %}

{% block fullmain %}

<div class ="ui vertical inverted masthead center aligned segment" style="padding-top: 12em; padding-bottom: 10em;" itemscope itemtype="https://schema.org/WebSite">
  <link itemprop="url" content="https://{{ config.FATCAT_DOMAIN }}/"/>
  <div class="ui text container">
    <h1 class="ui header inverted huge centered">Perpetual Access to Millions of Open Research Publications From Around The World</h1>
    <br>
    <form class="" action="/search" method="get" role="search" aria-label="papers" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
      <meta itemprop="target" content="https://{{ config.FATCAT_DOMAIN }}/search?q={q}"/>
      <div class="ui form">
        <div class="ui action input huge fluid">
          <input type="text" placeholder="by title, authors, identifiers..." name="q" aria-label="search metadata" required itemprop="query-input">
          <button class="ui green button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container" style="max-width: 800px!important;">
  <div class="ui centered equal grid">
    <div class="row">
      <div class="four wide mobile three wide center aligned column">
        <a href="/stats" style="color: black;">
          <h4>116,741,069<br>Papers</h4>
        </a>
      </div>
      <div class="four wide mobile three wide center aligned column">
        <a href="/stats" style="color: black;">
          <h4>28,751,063<br>Accessible</h4>
        </a>
      </div>
      <div class="four wide mobile three wide center aligned column">
        <a href="/stats" style="color: black;">
          <h4>177,158<br>Journals</h4>
        </a>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="ui vertical stripe segment" style="padding-top: 2em; padding-bottom: 2em;">
  <div class="ui text container" style="max-width: 800px!important;">
  <div class="ui centered grid">
    <div class="stackable row">
      <div class="four wide column">
        <!-- TODO: don't let it scale down -->
        <img src="/static/paper_man_confused.gif" width="130" alt="confused paper man">
      </div>
      <div class="twelve wide column" style="font-size: 1.2rem;">
        <p>Fatcat is a versioned, user-editable catalog of research
        publications including journal articles, conference proceedings, and
        datasets.
        <p>Features include archival file-level metadata (verified digests and
        long-term copies), a <b><a href="/coverage/search">preservation coverage visualizer</a></b>, work/edition grouping, an
        <b><a href="https://api.{{ config.FATCAT_DOMAIN }}">open API</a></b>,
        and public metadata dumps.
        &nbsp;<a href="/about">Read more...</a>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="ui vertical stripe segment" style="padding-top: 2em; padding-bottom: 2em;">
  <div class="ui text container" style="max-width: 1200px!important;">
  <div class="ui middle aligned divided centered grid">
    <div class="stackable row">
      <div class="eight wide column" style="font-size: 1.6rem; text-align: center;">
        <p>Our goal is to ensure long-term access to research content on the
        "scholarly web" by tracking holes in preservation coverage across
        digital preservation efforts
      </div>
      <div class="seven wide column">
        <a href="/coverage/search?q=is_oa%3Atrue+year%3A%3E1995+year%3A%3C%3D2019+%28type%3Aarticle-journal+OR+type%3Aarticle+OR+type%3Apaper-conference%29+%21doi_prefix%3A10.5281+%21doi_prefix%3A10.6084">
          <img alt="coverage visualization tool" src="/static/fatcat_oa_preservation_jan2021.svg" style="width: 100%;">
        </a>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="ui vertical stripe segment" style="padding-top: 2em; padding-bottom: 2em; background-color: #F5F5F5;">
  <div class="ui text container" style="max-width: 800px!important;">
  <div class="ui centered grid">
    <div class="stackable row">
      <div class="twelve wide column" style="font-size: 1.2rem;">
        <p>This service is hosted at the <b><a
        href="https://archive.org">Internet Archive</a></b>, a US
        non-profit digital library dedicated to providing Universal Access to All Knowledge.
        <a href="https://archive.org/donate/">Donations welcome!</a>
        <p>Development for this project funding comes from
        <b><a href="https://blog.archive.org/2018/03/05/andrew-w-mellon-foundation-awards-grant-to-the-internet-archive-for-long-tail-journal-preservation/">The Andrew Mellon Foundation</a></b>,
        specifically to capture "long-tail" open access works on
        the public web which might otherwise be lost.
      </div>
      <div class="four wide column">
        <img src="/static/ia_logo_text.png" width="140" alt="IA logo">
      </div>
    </div>
  </div>
  </div>
</div>

<div class="ui vertical stripe segment" style="padding-top: 2em; padding-bottom: 2em;">
  <div class="ui text container" style="max-width: 800px!important;">
  <div class="ui centered grid">
    <div class="stackable row">
      <div class="four wide column">
        <a href="https://scholar.archive.org">
          <img src="/static/scholar-vaporwave-logo-small.png" width="170" alt="IA scholar logo">
        </a>
      </div>
      <div class="twelve wide column" style="font-size: 1.2rem;">
        <p><b><a href="https://scholar.archive.org">Internet Archive Scholar</a></b>
        is a sibling service, built on the Fatcat catalog, providing end-user
        access to and full-text search over research content across the
        Internet Archive's various holdings.
      </div>
    </div>
  </div>
  </div>
</div>

<div class="ui vertical stripe segment" style="background-color: #fffaf3; color: #573a08;">
  <div class="ui text container">
  <div class="ui centered grid">
    <div class="row">
      <div class="fourteen wide column" style="font-size: 1.1rem;">
        <b>Project Status: Beta</b>
        &nbsp;
        API schema is not stable, and all edits must be manually reviewed.
      </div>
    </div>
  </div>
  </div>
</div>

</div>

<div class="ui center aligned container">

<br>
<h2 class="ui header centered">Explore Works In The Catalog So Far
<span class="sub header">... and help us find what is missing!</span>
</h2>

<br>
{# this div makes the table scrollable on mobile #}
<div style="max-width: 100%; overflow-x: auto;">
<table class="ui single line unstackable table centered" style="max-width: 800px; font-size: 1.1rem; margin-right: auto; margin-left: auto;">
<thead>
<tr><th>Entity Type
    <th>Actions
    <th>Examples
    <th>Lookup
</thead>
<tr><td><b>Release</b>
        <br>journal article, pre-print, book
        <br>published version of a Work
    <td><a href="/release/search">Search</a>
        <br><a href="/release/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/release/hsmo6p4smrganpb3fndaj2lon4">Paper</a>
{% else %}
    <td><a href="/release/hsmo6p4smrganpb3fndaj2lon4">Paper</a> (prod)
        <br><a href="/release/aaaaaaaaaaaaarceaaaaaaaaai">Dummy</a>
        <br><a href="/release/aaaaaaaaaaaaarceaaaaaaaaam">Realistic</a>
{% endif %}
    <td class="center aligned"><form class="" action="/release/lookup" method="get" role="search">
          <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="DOI" name="doi" aria-label="lookup paper by DOI">
          </div>
        <br><a href="/release/lookup">Other Identifiers</a>
        </form>
<tr><td><b>Container</b>
        <br>journal or serial
    <td><a href="/container/search">Search</a>
        <br><a href="/container/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/container/iznnn644szdwva7khyxqzc73bi">Journal</a>
{% else %}
    <td><a href="/container/iznnn644szdwva7khyxqzc73bi">Journal</a> (prod)
        <br><a href="/container/aaaaaaaaaaaaaeiraaaaaaaaai">Dummy</a>
        <br><a href="/container/aaaaaaaaaaaaaeiraaaaaaaaam">Realistic</a>
{% endif %}
    <td class="center aligned"><form class="" action="/container/lookup" method="get" role="search">
          <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="ISSN-L" name="issnl" aria-label="lookup journal by ISSN-L">
          </div>
        <br><a href="/container/lookup">Other Identifiers</a>
        </form>

<tr><td><b>Creator</b>
        <br>authors, editors, translators
    <td><a href="/creator/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/creator/iimvc523xbhqlav6j3sbthuehu">Author</a>
{% else %}
    <td><a href="/creator/iimvc523xbhqlav6j3sbthuehu">Author</a> (prod)
        <br><a href="/creator/aaaaaaaaaaaaaircaaaaaaaaai">Dummy</a>
        <br><a href="/creator/aaaaaaaaaaaaaircaaaaaaaaam">Realistic</a>
{% endif %}
    <td class="center aligned"><form class="" action="/creator/lookup" method="get" role="search">
          <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="ORCID" name="orcid" aria-label="lookup author by ORCID">
          </div>
        <br><a href="/creator/lookup">Other Identifiers</a>
        </form>
<tr><td><b>File</b>
        <br>specific digital blobs (immutable)
    <td><a href="/file/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/file/wklqsb5apzfhbbxxc7rgu2yw6m">PDF</a>
{% else %}
    <td><a href="/file/wklqsb5apzfhbbxxc7rgu2yw6m">PDF</a> (prod)
        <br><a href="/file/aaaaaaaaaaaaamztaaaaaaaaai">Dummy</a>
        <br><a href="/file/aaaaaaaaaaaaamztaaaaaaaaam">Realistic</a>
{% endif %}
    <td class="center aligned"><form class="" action="/file/lookup" method="get" role="search">
          <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="SHA-1" name="sha1" aria-label="lookup file by SHA1">
          </div>
        <br><a href="/file/lookup">Other Hashes</a>
        </form>
<tr><td><b>File Set</b>
        <br>datasets, suplementary materials
    <td><a href="/fileset/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/fileset/ho376wmdanckpp66iwfs7g22ne">Dataset</a>
{% else %}
    <td><a href="/fileset/ho376wmdanckpp66iwfs7g22ne">Dataset</a> (prod)
        <br><a href="/fileset/aaaaaaaaaaaaaztgaaaaaaaaai">Dummy</a>
        <br><a href="/fileset/aaaaaaaaaaaaaztgaaaaaaaaam">Realistic</a>
{% endif %}
    <td>
<tr><td><b>Web Capture</b>
        <br>HTML and interactive articles, blog posts
    <td><a href="/webcapture/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/webcapture/z7uaeatyvfgwdpuxtrdu4okqii">D-Lib</a>
        <br><a href="/webcapture/5l2pubtfefbmdnqws2izccqlpm">Blog Post</a>
{% else %}
    <td><a href="/webcapture/z7uaeatyvfgwdpuxtrdu4okqii">D-Lib</a> (prod)
        <br><a href="/webcapture/aaaaaaaaaaaaa53xaaaaaaaaai">Dummy</a>
        <br><a href="/webcapture/aaaaaaaaaaaaa53xaaaaaaaaam">Realistic</a>
{% endif %}
    <td>
<tr><td><b>Work</b>
        <br>for grouping Releases
    <td><a href="/work/create">Create</a>
{% if config.FATCAT_DOMAIN == 'fatcat.wiki' %}
    <td><a href="/work/ftl6xv267vb6xfech3khri3nwa">Paper</a>
{% else %}
    <td><a href="/work/ftl6xv267vb6xfech3khri3nwa">Paper</a> (prod)
        <br><a href="/work/aaaaaaaaaaaaavkvaaaaaaaaai">Dummy</a>
        <br><a href="/work/aaaaaaaaaaaaavkvaaaaaaaaam">Realistic</a>
{% endif %}
    <td>
</table>
</div>

</div>

{% endblock %}
