{% extends "base.html" %}
{% import "entity_macros.html" as entity_macros %}
{% import "edit_macros.html" as edit_macros %}

{% block body %}

<h1>Reference Fuzzy Match Tool</h1>

<form class="ui form" id="reference_match" method="POST" action="/reference/match">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

  <div class="ui segment">
    <h3>Parse Citation</h3>

    <p>Enter a citation string here and we will try to parse it (using GROBID)
    into a structured format, then match against the catalog.

    {{ edit_macros.form_field_basic(form.raw_citation) }}

    <button class="ui primary submit button right floated" type="submit" name="submit_type" value="parse">
      Parse
    </button>
    <br clear="all">
  </div>

  {% if grobid_status == "success" and grobid_dict %}
    <div class="ui positive message">
      <div class="header">Parsed Citation String</div>
      {{ entity_macros.extra_metadata(grobid_dict) }}
      <p><i>See below for fuzzy match results</i>
    </div>
  {% endif %}

  <div class="ui segment">
    <h3>Fuzzy Match Metadata</h3>

    <p>Enter whatever bibliographic metadata fields you know, and we will try to
    match to catalog entries.

    <p><b>NOTE:</b> if you already know a persistent identifier (like a DOI), you
    should use the <a href="/release/lookup">lookup tool</a> instead.

    <br>
    <div class="ui equal width fields">
      {{ edit_macros.form_field_basic(form.title) }}
    </div>
    <div class="ui equal width fields">
      {{ edit_macros.form_field_basic(form.first_author) }}
    </div>
    <div class="ui equal width fields">
      {{ edit_macros.form_field_basic(form.journal) }}
    </div>
    <div class="ui equal width fields">
      {{ edit_macros.form_field_basic(form.year) }}
      {{ edit_macros.form_field_basic(form.volume) }}
      {{ edit_macros.form_field_basic(form.issue) }}
      {{ edit_macros.form_field_basic(form.pages) }}
    </div>

    <button class="ui primary submit button right floated" type="submit" name="submit_type" value="match">
      Match
    </button>
    <br clear="all">
  </div>

</form>

{% if matches is defined %}
  <h3>Matched Releases</h3>

  {% if not matches %}
    <p><i>No matches found</i>
  {% endif %}

  <table class="ui very basic celled table">
  <tbody>
  {% for match in matches %}
    <tr><td class="collapsing center aligned">
          <br><b>{{ match.status.name }}</b>
          <br>{{ match.reason.name }}
        <td class="">
          {{ entity_macros.release_summary(match.release) }}
        <td class="">
          {% if match.access_options %}
            <a href="{{ match.access_options[0].access_url}}" class="ui tiny green active button">{{ match.access_options[0].access_type.name }}</a>
            {% endif %}
  {% endfor %}
  </tbody>
  </table>

{% endif %}

{% endblock %}
