{% set release = entity %}
{% set entity_view = "{{ direction }}-refs" %}
{% set entity_type = "release" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

{% if direction == "inbound" %}
  <h3>Inbound Matched References</h3>
  <i>Other releases citing this one</i>
{% elif direction == "outbound" %}
  <h3>Outbound Matched References</h3>
  <i>This release citing other releases</i>
{% endif %}

<p>Found {{ hits.count_total }} references in {{ hits.query_wall_time_ms }}ms.
{% if hits.count_total != hits.count_returned %}
  Showing {{ hits.offset + 1 }} - {{ hits.offset + hits.count_returned }}
  {% if hits.offset + hits.limit < hits.count_total %}
    &nbsp;<a href="?offset={{ hits.offset + hits.limit }}">next...</a>
  {% endif %}
{% endif %}

<table class="ui very basic celled table">
<tbody>
{% for ref in enriched_refs %}
  {% set release = ref.release %}
  <tr><td class="collapsing center aligned">
        {% if direction == "outbound" %}
          {% if ref.ref.ref_key %}
            <code>[{{ ref.ref.ref_key }}]</code>
          {% endif %}
        {% endif %}
        <br><b>{{ ref.ref.match_status }}</b>
        {% if ref.ref.match_provenance %}
          <br>{{ ref.ref.match_provenance }}
        {% endif %}
      <td class="">
        {% if release %}
          {% entity_macros.release_summary(release) %}
        {% elif ref.ref.target_unstructured %}
          <code>{{ ref.ref.target_unstructured }}</code>
        {% else %}
          <i>blank</i>
        {% endif %}
        <td class="">
          {% if ref.access %}
            <a href="{{ ref.access[0].access_url}}" class="ui tiny green active button">{{ ref.access[0].access_type.name }}</a>
          {% endif %}
{% endfor %}
</tbody>
</table>

{% endblock %}

