{% extends "release_edit.html" %}

{% block edit_form_prefix %}
<div class="ui segment">
<h1 class="ui header">Create New Release Entity</h1>

<form class="ui form" id="create_release_form" method="POST" action="/release/create">
{% endblock %}

{% block edit_form_suffix %}
  <br><br>
  <input class="ui primary submit button" type="submit" value="Create Release!">
  <p>
  <i>New entity will be part of the current editgroup, which needs to be
  submited and approved before the entity will formally be included in the
  catalog.</i>
</form>
</div>
{% endblock %}

