{% set entity = release %}
{% set entity_view = "references" %}
{% set entity_type = "release" %}
{% import "entity_macros.html" as entity_macros %}
{% extends "entity_base.html" %}

{% block entity_main %}

{% if release.refs != None and release.refs.size != 0 %}
<h3>References</h3>
<i>This release citing other releases</i>
{# see https://github.com/Semantic-Org/Semantic-UI/issues/2639 #}
<ol>
  {% for ref in release.refs %}
    <li>
    {% if ref.title %}
      {{ ref.title }}
      {% if ref.container_name %}{{ ref.container_name }}.{% endif %}
      {% if ref.year %}{{ ref.year }}{% endif %}
      {% if ref.locator %}{{ ref.locator }}{% endif %}
    {% elif ref.extra != None %}
      {% if ref.extra.get('author') %}{{ ref.extra['author'] }}.{% endif %}
      {% if ref.extra.get('article-title') %}{{ ref.extra['article-title'] }}.{% endif %}
      {% if ref.container_name %}{{ ref.container_name }}.{% endif %}
      {% if ref.year %}{{ ref.year }}.{% endif %}
      {% if ref.extra.unstructured %}{{ ref.extra.unstructured }}{% endif %}
    {% else %}
      <i>unknown</i>
    {% endif %}
    {% if ref.target_release_id != None %}
      (<a href="/release/{{ ref.target_release_id }}">fatcat entry</a>)
    {% endif %}
    {% if ref.extra != None and ref.extra.doi %}
      (DOI: <a href="/release/lookup?doi={{ ref.extra.doi }}">{{ ref.extra.doi }}</a>)
    {% endif %}
    </li>
  {% endfor %}
</ol>
{% else %}
<p>No reference list available.
{% endif %}

{% endblock %}

