{% set entity = work %}
{% import "entity_macros.html" as entity_macros %}
{% extends "base.html" %}

{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">
  <span class="sub header"><code>work {{ work.ident }}</code></span></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

{% if entity.extra != None %}
  <h3>Extra Metadata (raw JSON)</h3>
  {{ entity_macros.extra_metadata(entity.extra) }}
{% endif %}

<h3>Releases</h3>
{% if releases != [] %}
  {{ entity_macros.release_list(releases) }}
{% else %}
<p>There are no known releases associated with this work.
{% endif %}

{% if entity.extra %}
  {{ entity_macros.extra_metadata(entity.extra) }}
{% endif %}

<h3>What is a "Work"?</h3>
<p>A Fatcat "<code>work</code>" groups a set of releases that are all editings
or editing stages of the same intellectual contribution. For example, a
pre-print and a published article may contain small differences, but still
reference the same underlying "work".

</div>

<div class="five wide column">

{{ entity_macros.fatcat_bits(entity, "work", "") }}

</div>
</div>

{% endblock %}
