{% extends "base.html" %}
{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">
  <div class="sub header"><code>work {{ work.ident }}</code></div></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

{% if work.extra != None %}
<h3>Extra Metadata (raw JSON)</h3>
{% for (key, value) in work.extra.items() %}
<code><b>{{ key }}:</b> {{ value }}</code><br>
{% endfor %}
{% endif %}

<!--
Raw Object:
{{ work|safe }}
-->

<h3>Releases</h3>
{% if releases != [] %}
<table class="ui very basic celled table">
<tbody>
{% for release in releases %}
  <tr><td class="two wide center aligned">
        {% if release.release_date %}{{ release.release_date }}{% elif release.release_year %}{{ release.release_year }}{% endif %}
      <td class="five wide single line">
        <b><a href="/release/{{ release.ident }}">{{ release.title }}</a></b>
        <br>{{ release.release_type or "unknown" }} - {{ release.release_status or "unknown" }}
              {% if release.license_slug %} - {{ release.license_slug }}{% endif %}
        {% if release.doi %}
          <br><a href="https://doi.org/{{ release.doi }}" style="color:green;">doi:{{ release.doi }}</a>
        {% endif %}
{% endfor %}
</tbody>
</table>
{% else %}
<p>There are no known releases associated with this work.
{% endif %}

{% if work.extra %}
<h3>Extra Metadata (raw JSON)</h3>
<table class="ui definition single line fixed compact small unstackable table">
<tbody>
{% for (key, value) in work.extra.items() %}
  <tr><td class="three wide right aligned"><code>{{ key }}</code></td>
      <td class="seven wide"><code>{{ value }}</code>
{% endfor %}
</tbody>
</table>
{% endif %}

<h3>What is a "Work"?</h3>
<p>A Fatcat "<code>work</code>" groups a set of releases that are all editings
or editing stages of the same intellectual contribution. For example, a
pre-print and a published article may contain small differences, but still
reference the same underlying "work".

</div>
<div class="five wide column">
<div class="ui segment top attached">

<b>Fatcat Bits</b>
<p>State is "{{ work.state }}". Revision:
<br><small><code>{{ work.revision }}</code></small>
<br><a href="https://api.{{ config.FATCAT_DOMAIN }}/v0/work/{{ work.ident }}">As JSON object via API</a>

</div>
<div class="two ui buttons bottom attached">
  <a href="/work/{{ work.ident }}/edit" class="ui blue button">Edit Metadata</a>
  <a href="/work/{{ work.ident }}/history" class="ui button">View History</a>
</div>

</div>
</div>

{% endblock %}
