version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka:2.11-2.0.0
    ports:
      - "9092:9092"
    environment:
      #HOSTNAME_COMMAND: "docker info | grep ^Name: | cut -d' ' -f 2"
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "fatcat-dev.changelog:1:1,fatcat-dev.release-updates:3:1:compact"
      KAFKA_MESSAGE_MAX_BYTES: 50000000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  elasticsearch:
    build: ../elasticsearch/
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      cluster.name: "docker-cluster"
      bootstrap.memory_lock: "true"
      discovery.type: "single-node"
      cluster.routing.allocation.disk.watermark.low: "500mb"
      cluster.routing.allocation.disk.watermark.high: "500mb"
      cluster.routing.allocation.disk.watermark.flood_stage: "100mb"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
  kafka_pixy:
    image: mailgun/kafka-pixy:0.17.0
    entrypoint: /usr/bin/kafka-pixy -kafkaPeers kafka:9092 -zookeeperPeers zookeeper:2181
    ports:
      - "19091:19091"
      - "19092:19092"
    depends_on:
      - kafka
