---
swagger: "2.0"
info:
  description: "Fatcat is a scalable, versioned, API-oriented catalog of bibliographic\n\
    entities and file metadata.\n\n<!-- STARTLONGDESCRIPTION -->\nThese API reference\
    \ documents, along with client software libraries, are\ngenerated automatically\
    \ from an OpenAPI 2.0 (\"Swagger\") definition file.\n\n## Introduction\n\n\n\
    A higher-level introduction to the API, as well as a description of the\nfatcat\
    \ data model, are available in [\"The Fatcat Guide\"](https://guide.fatcat.wiki/).\n\
    The guide also includes a [Cookbook](https://guide.fatcat.wiki/cookbook.html)\n\
    section demonstrating end-to-end tasks like creating entities as part of\neditgroups,\
    \ or safely merging duplicate entities.\n\n### Expectations and Best Practices\n\
    \nA test/staging QA API instance of fatcat is available at\n<https://api.qa.fatcat.wiki/v0>.\
    \ The database backing this instance is\nseparate from the production interface,\
    \ and is periodically rebuilt from\nsnapshots of the full production database,\
    \ meaning that edits on the QA\nserver will *NOT* persist, and that semantics\
    \ like the changelog index\nmonotonically increasing *MAY* be broken. Developers\
    \ are expexcted to test\ntheir scripts and tools against the QA instance before\
    \ running against\nproduction.\n\nFatcat is made available as a gratis (no cost)\
    \ and libre (freedom\npreserving) service to the public, with limited funding\
    \ and resources. We\nwelcome new and unforseen uses and contributions, but may\
    \ need to impose\nrestrictions (like rate-limits) to keep the service functional\
    \ for other\nusers, and in extreme cases reserve the option to block accounts\
    \ and IP\nranges if necessary to keep the service operational.\n\nThe Internet\
    \ Archive owns and operates it's own server equipment and data\ncenters, and operations\
    \ are optimized for low-cost, not high-availability.\nUsers and partners should\
    \ expect some downtime on the fatcat API, on the\norder of hours a month.\n\n\
    Periodic metadata exports are available for batch processing, and database\nsnapshots\
    \ can be used to create locally-hosted mirrors of the service for\nmore intensive\
    \ and reliable querying.\n\n### Other Nitty Gritties\n\nCross-origin requests\
    \ are allowed for the API service, to enable third\nparties to bulid in-browser\
    \ applications.\n\nA metadata search service is available at <https://search.fatcat.wiki>\
    \ (and\n<https://search.qa.fatcat.wiki>). The API is currently the raw\nelasticsearch\
    \ API, with only GET (read) requests allowed. This public\nservice is experimental\
    \ and may be removed or limited in the future.\n\n## Authentication\n\nThe API\
    \ allows basic read-only \"GET\" HTTP requests with no authentication.\nProposing\
    \ changes to the metadata, or other mutating requests (\"PUT\",\n\"POST\", \"\
    DELETE\") all require authentication, and some operations require\nadditional\
    \ account permissions.\n\nEnd-user account creation and login happens through\
    \ the web interface. From\na logged-in editor profile page, you can generate a\
    \ API token. Tokens are\n\"macaroons\", similar to JWT tokens, and are used for\
    \ all API\nauthentication. The web interface includes macaroons in browser cookies\
    \ and\npasses them through to the API to authenticate editor actions.\n\n<!--\
    \ ReDoc-Inject: <security-definitions> -->\n<!-- ENDLONGDESCRIPTION -->\n"
  version: "0.3.0"
  title: "fatcat"
  termsOfService: "https://guide.fatcat.wiki/policies.html"
  contact:
    name: "Internet Archive Web Group"
    url: "https://fatcat.wiki"
    email: "webservices@archive.org"
  x-logo:
    url: "https://fatcat.wiki/static/paper_man_confused.gif"
    altText: "Confused Papers Man (Logo)"
    backgroundColor: "#FFFFFF"
host: "api.fatcat.wiki"
basePath: "/v0"
tags:
- name: "containers"
  description: "**Container** entities represent publication venues like journals,\
    \  # TAGLINE\nconference proceedings, book series, or blogs. They group publications\
    \  # TAGLINE\n(\"releases\").  # TAGLINE\n\nSee the \"Catalog Style Guide\" section\
    \ of the guide for details and  # TAGLINE\nsemantics of what should be included\
    \ in specific entity fields.  # TAGLINE\nSpecifically, the  # TAGLINE\n[Container\
    \ Entity Reference](https://guide.fatcat.wiki/entity_container.html).  # TAGLINE\n"
  x-displayName: "Containers"
- name: "creators"
  description: "**Creator** entities represent individuals (or organizations, or other\
    \  # TAGLINE\nagents) who contribute to the creation of specific releases  # TAGLINE\n\
    (publications).  # TAGLINE\n\nSee the \"Catalog Style Guide\" section of the guide\
    \ for details and  # TAGLINE\nsemantics of what should be included in specific\
    \ entity fields.  # TAGLINE\nSpecifically, the  # TAGLINE\n[Creator Entity Reference](https://guide.fatcat.wiki/entity_creator.html).\
    \  # TAGLINE\n"
  x-displayName: "Creators"
- name: "files"
  description: "**File** entities represent unique digital files which are full  #\
    \ TAGLINE\nmanifestations of specific releases (publications), such as fulltext\
    \ PDF  # TAGLINE\nfiles, JATS XML documents, or video files. File entities also\
    \ include a  # TAGLINE\nset of locations where they can be found on the public\
    \ web.  # TAGLINE\n\nSee the \"Catalog Style Guide\" section of the guide for\
    \ details and  # TAGLINE\nsemantics of what should be included in specific entity\
    \ fields.  # TAGLINE\nSpecifically, the  # TAGLINE\n[File Entity Reference](https://guide.fatcat.wiki/entity_file.html).\
    \  # TAGLINE\n"
  x-displayName: "Files"
- name: "filesets"
  description: "**Fileset** entities represent sets of digital files, as well as locations\
    \  # TAGLINE\nwhere they can be found on the public web. Filesets most commonly\
    \  # TAGLINE\nrepresent datasets consisting of serveral data and metadata files.\
    \  # TAGLINE\n\nSee the \"Catalog Style Guide\" section of the guide for details\
    \ and  # TAGLINE\nsemantics of what should be included in specific entity fields.\
    \  # TAGLINE\nSpecifically, the  # TAGLINE\n[Fileset Entity Reference](https://guide.fatcat.wiki/entity_fileset.html).\
    \  # TAGLINE\n"
  x-displayName: "Filesets"
- name: "webcaptures"
  description: "**Web Capture** entities represent archival snapshots of web pages\
    \ (or  # TAGLINE\nother web resources), which are usually complete manifestations\
    \ of a  # TAGLINE\nspecific release entity. Web Captures also include a set of\
    \ locations  # TAGLINE\n(wayback replay instances or WARC files) where the capture\
    \ can be found.  # TAGLINE\n\nSee the \"Catalog Style Guide\" section of the guide\
    \ for details and  # TAGLINE\nsemantics of what should be included in specific\
    \ entity fields.  # TAGLINE\nSpecifically, the  # TAGLINE\n[Web Capture Entity\
    \ Reference](https://guide.fatcat.wiki/entity_webcapture.html).  # TAGLINE\n"
  x-displayName: "Webcaptures"
- name: "releases"
  description: "**Release** entities represent specific published versions of a research\
    \  # TAGLINE\nwork, such as a pre-print, a journal article, a book (or chapter),\
    \ or a  # TAGLINE\nscholarly blog post. Releases are always grouped together under\
    \ Works;  # TAGLINE\nthey may be published in a specific Container; they may have\
    \ known  # TAGLINE\nCreators; and there may exist known File/Fileset/WebCapture\
    \ digital copies  # TAGLINE\nof the release.  # TAGLINE\n\nSee the \"Catalog Style\
    \ Guide\" section of the guide for details and  # TAGLINE\nsemantics of what should\
    \ be included in specific entity fields.  # TAGLINE\nSpecifically, the  # TAGLINE\n\
    [Release Entity Reference](https://guide.fatcat.wiki/entity_release.html).  #\
    \ TAGLINE\n"
  x-displayName: "Releases"
- name: "works"
  description: "**Work** entities group several Release entities which are different\
    \  # TAGLINE\nversions of the same abstract piece of research. For example, three\
    \  # TAGLINE\nrelease entities representing the pre-print, published article,\
    \ and  # TAGLINE\nretraction stages of the same journal paper would be grouped\
    \ under a  # TAGLINE\nsingle work.  # TAGLINE\n\nSee the \"Catalog Style Guide\"\
    \ section of the guide for details and  # TAGLINE\nsemantics of what should be\
    \ included in specific entity fields.  # TAGLINE\nSpecifically, the  # TAGLINE\n\
    [Work Entity Reference](https://guide.fatcat.wiki/entity_work.html).  # TAGLINE\n"
  x-displayName: "Works"
- name: "editgroups"
  description: "**Editgroups** are sets of changes, each to individual entities in\
    \ the  # TAGLINE\ncatalog. Every edit must be part of an editgroup which is reviewed\
    \ and  # TAGLINE\naccepted (merged) as a whole.  # TAGLINE\n"
  x-displayName: "Editgroups"
- name: "editors"
  description: "**Editors** are human user accounts and bots that make changes to\
    \ the  # TAGLINE\nFatcat catalog.  # TAGLINE\n\nThe API allows fetching (and updating)\
    \ metadata about individual editors,  # TAGLINE\nas well as fetching editor's\
    \ annotation and edit history.  # TAGLINE\n"
  x-displayName: "Editors"
- name: "changelog"
  description: "The **Changelog** is the ordered feed of editgroups which have been\
    \  # TAGLINE\naccepted into the catalog.  # TAGLINE\n"
  x-displayName: "Changelog"
- name: "auth"
  description: "Helper methods and internal APIs for editor authentication.  # TAGLINE\n"
  x-displayName: "Auth Methods"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /editgroup/{editgroup_id}/container:
    post:
      tags:
      - "containers"
      description: "Create a single Container entity as part of an existing editgroup.\n\
        \nEditgroup must be mutable (aka, not accepted) and editor must have\npermission\
        \ (aka, have created the editgrou p or have `admin` role).\n"
      operationId: "create_container"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/container_entity"
        uppercase_data_type: "CONTAINERENTITY"
        refName: "container_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CONTAINER"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "create_container"
      uppercase_operation_id: "CREATE_CONTAINER"
      path: "/editgroup/:editgroup_id/container"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /editgroup/auto/container/batch:
    post:
      tags:
      - "containers"
      description: "Create a set of Container entities as part of a new editgroup,\
        \ and\naccept that editgroup in the same atomic request.\n\nThis method is\
        \ mostly useful for bulk import of new entities by\ncarefully written bots.\
        \ This method is more efficient than creating an\neditgroup, several entities,\
        \ then accepting the editgroup, both in\nterms of API requests required and\
        \ database load. Requires `admin`\nrole.\n"
      operationId: "create_container_auto_batch"
      parameters:
      - in: "body"
        name: "auto_batch"
        required: true
        schema:
          $ref: "#/definitions/container_auto_batch"
        uppercase_data_type: "CONTAINERAUTOBATCH"
        refName: "container_auto_batch"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Editgroup"
          schema:
            $ref: "#/definitions/editgroup"
          x-responseId: "CreatedEditgroup"
          x-uppercaseResponseId: "CREATED_EDITGROUP"
          uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
          uppercase_data_type: "EDITGROUP"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "create_container_auto_batch"
      uppercase_operation_id: "CREATE_CONTAINER_AUTO_BATCH"
      path: "/editgroup/auto/container/batch"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /container/{ident}:
    get:
      tags:
      - "containers"
      description: "Fetches a single container entity from the catalog.\n"
      operationId: "get_container"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container"
      uppercase_operation_id: "GET_CONTAINER"
      path: "/container/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{editgroup_id}/container/{ident}:
    put:
      tags:
      - "containers"
      description: "Updates an existing entity as part of a specific (existing) editgroup.\n\
        The editgroup must be open for updates (aka, not accepted/merged), and\nthe\
        \ editor making the requiest must have permissions (aka, must have\ncreated\
        \ the editgroup or have `admin` role).\n\nThis method can also be used to\
        \ update an existing entity edit as part\nof an editgroup. For example, if\
        \ an entity was created in this\neditgroup, an editor could make changes to\
        \ the new entity's metadata\nbefore merging.\n"
      operationId: "update_container"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/container_entity"
        uppercase_data_type: "CONTAINERENTITY"
        refName: "container_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_CONTAINER"
        consumesJson: true
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "update_container"
      uppercase_operation_id: "UPDATE_CONTAINER"
      path: "/editgroup/:editgroup_id/container/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "containers"
      description: "Creates a new \"deletion\" edit for a specific entity as part\
        \ of an\nexisting editgroup.\n\nThis is not the method to use to remove an\
        \ edit from an editgroup; for\nthat use `delete_container_edit`.\n"
      operationId: "delete_container"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "delete_container"
      uppercase_operation_id: "DELETE_CONTAINER"
      path: "/editgroup/:editgroup_id/container/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /container/rev/{rev_id}:
    get:
      tags:
      - "containers"
      description: "Fetches a specific entity revision. Note that the returned revision\n\
        will not be associated with any particular fatcat identifier (even if\none\
        \ or more identifiers do currently point to this revision). The\nrevision\
        \ may even be part of an un-merged editgroup.\n\nRevisions are immutable and\
        \ can not be deleted or updated.\n"
      operationId: "get_container_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. See `get_container`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_container`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_revision"
      uppercase_operation_id: "GET_CONTAINER_REVISION"
      path: "/container/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/{ident}/history:
    get:
      tags:
      - "containers"
      description: "Fetches the history of accepted edits (changelog entries) for\
        \ a\nspecific entity fatcat identifier.\n"
      operationId: "get_container_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        description: "Maximum number of changelog entries to return"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_history"
      uppercase_operation_id: "GET_CONTAINER_HISTORY"
      path: "/container/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/{ident}/redirects:
    get:
      tags:
      - "containers"
      description: "Returns the set of entity identifiers which currently redirect\
        \ to this\nidentifier.\n"
      operationId: "get_container_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
              description: "base32-encoded unique identifier"
              minLength: 26
              maxLength: 26
              pattern: "[a-zA-Z2-7]{26}"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_redirects"
      uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
      path: "/container/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/lookup:
    get:
      tags:
      - "containers"
      description: "Looks for an active entity with the given external identifier.\
        \ If any\nsuch entity is found, returns a single complete entity. If multiple\n\
        entities have the same external identifier, this is considered a soft\ncatalog\
        \ error, and the behavior of which entity is returned is\nundefined.\n\nOne\
        \ (and only one) external identifier should be specified per request.\n"
      operationId: "lookup_container"
      parameters:
      - name: "issnl"
        in: "query"
        required: false
        type: "string"
        maxLength: 9
        minLength: 9
        pattern: "\\d{4}-\\d{3}[0-9X]"
        formatString: "{:?}"
        example: "Some(\"issnl_example\".to_string())"
      - name: "wikidata_qid"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"wikidata_qid_example\".to_string())"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. See `get_container`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_container`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "lookup_container"
      uppercase_operation_id: "LOOKUP_CONTAINER"
      path: "/container/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/edit/{edit_id}:
    get:
      tags:
      - "containers"
      description: "Returns the entity edit object with the given identifier. This\
        \ method\nis expected to be used rarely.\n"
      operationId: "get_container_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"edit_id_example\".to_string()"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_edit"
      uppercase_operation_id: "GET_CONTAINER_EDIT"
      path: "/container/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{editgroup_id}/container/edit/{edit_id}:
    delete:
      tags:
      - "containers"
      description: "Removes a single edit from the specified editgroup. The editgroup\
        \ must\nbe mutable (aka, not accepted/merged), and the editor making this\n\
        request must have permission (aka, have created the editgroup or hold\nthe\
        \ `admin` role).\n\nNot to be confused with the `delete_container` method,\
        \ which *creates*\na new edit in the given editgroup.\n"
      operationId: "delete_container_edit"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "edit_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"edit_id_example\".to_string()"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "delete_container_edit"
      uppercase_operation_id: "DELETE_CONTAINER_EDIT"
      path: "/editgroup/:editgroup_id/container/edit/:edit_id"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /editgroup/{editgroup_id}/creator:
    post:
      tags:
      - "creators"
      operationId: "create_creator"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/creator_entity"
        uppercase_data_type: "CREATORENTITY"
        refName: "creator_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CREATOR"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "create_creator"
      uppercase_operation_id: "CREATE_CREATOR"
      path: "/editgroup/:editgroup_id/creator"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /editgroup/auto/creator/batch:
    post:
      tags:
      - "creators"
      operationId: "create_creator_auto_batch"
      parameters:
      - in: "body"
        name: "auto_batch"
        required: true
        schema:
          $ref: "#/definitions/creator_auto_batch"
        uppercase_data_type: "CREATORAUTOBATCH"
        refName: "creator_auto_batch"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Editgroup"
          schema:
            $ref: "#/definitions/editgroup"
          x-responseId: "CreatedEditgroup"
          x-uppercaseResponseId: "CREATED_EDITGROUP"
          uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
          uppercase_data_type: "EDITGROUP"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "create_creator_auto_batch"
      uppercase_operation_id: "CREATE_CREATOR_AUTO_BATCH"
      path: "/editgroup/auto/creator/batch"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /creator/{ident}:
    get:
      tags:
      - "creators"
      operationId: "get_creator"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For creators, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For creators, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator"
      uppercase_operation_id: "GET_CREATOR"
      path: "/creator/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{editgroup_id}/creator/{ident}:
    put:
      tags:
      - "creators"
      operationId: "update_creator"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/creator_entity"
        uppercase_data_type: "CREATORENTITY"
        refName: "creator_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_CREATOR"
        consumesJson: true
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "update_creator"
      uppercase_operation_id: "UPDATE_CREATOR"
      path: "/editgroup/:editgroup_id/creator/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "creators"
      operationId: "delete_creator"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "delete_creator"
      uppercase_operation_id: "DELETE_CREATOR"
      path: "/editgroup/:editgroup_id/creator/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /creator/rev/{rev_id}:
    get:
      tags:
      - "creators"
      operationId: "get_creator_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. See `get_creator`,\n\
          though note that identifier-based expansions (like `releases`) will\nalways\
          \ be empty for revisions.\n"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_creator`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_revision"
      uppercase_operation_id: "GET_CREATOR_REVISION"
      path: "/creator/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/{ident}/history:
    get:
      tags:
      - "creators"
      operationId: "get_creator_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_history"
      uppercase_operation_id: "GET_CREATOR_HISTORY"
      path: "/creator/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/{ident}/releases:
    get:
      tags:
      - "creators"
      description: "Returns the set of Release entities having a `contrib` entry pointing\n\
        to the creator entity.\n"
      operationId: "get_creator_releases"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_release`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/release_entity"
          x-responseId: "Found"
          x-uppercaseResponseId: "FOUND"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "VEC<RELEASEENTITY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_releases"
      uppercase_operation_id: "GET_CREATOR_RELEASES"
      path: "/creator/:ident/releases"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/{ident}/redirects:
    get:
      tags:
      - "creators"
      operationId: "get_creator_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
              description: "base32-encoded unique identifier"
              minLength: 26
              maxLength: 26
              pattern: "[a-zA-Z2-7]{26}"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_redirects"
      uppercase_operation_id: "GET_CREATOR_REDIRECTS"
      path: "/creator/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/lookup:
    get:
      tags:
      - "creators"
      operationId: "lookup_creator"
      parameters:
      - name: "orcid"
        in: "query"
        description: "ORCiD (https://orcid.org) identifier"
        required: false
        type: "string"
        maxLength: 19
        minLength: 19
        pattern: "\\d{4}-\\d{4}-\\d{4}-\\d{3}[\\dX]"
        formatString: "{:?}"
        example: "Some(\"orcid_example\".to_string())"
      - name: "wikidata_qid"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"wikidata_qid_example\".to_string())"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. See `get_creator`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_creator`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "lookup_creator"
      uppercase_operation_id: "LOOKUP_CREATOR"
      path: "/creator/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/edit/{edit_id}:
    get:
      tags:
      - "creators"
      operationId: "get_creator_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"edit_id_example\".to_string()"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_edit"
      uppercase_operation_id: "GET_CREATOR_EDIT"
      path: "/creator/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{editgroup_id}/creator/edit/{edit_id}:
    delete:
      tags:
      - "creators"
      operationId: "delete_creator_edit"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "edit_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"edit_id_example\".to_string()"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "delete_creator_edit"
      uppercase_operation_id: "DELETE_CREATOR_EDIT"
      path: "/editgroup/:editgroup_id/creator/edit/:edit_id"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /editgroup/{editgroup_id}/file:
    post:
      tags:
      - "files"
      operationId: "create_file"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/file_entity"
        uppercase_data_type: "FILEENTITY"
        refName: "file_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_FILE"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "create_file"
      uppercase_operation_id: "CREATE_FILE"
      path: "/editgroup/:editgroup_id/file"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /editgroup/auto/file/batch:
    post:
      tags:
      - "files"
      operationId: "create_file_auto_batch"
      parameters:
      - in: "body"
        name: "auto_batch"
        required: true
        schema:
          $ref: "#/definitions/file_auto_batch"
        uppercase_data_type: "FILEAUTOBATCH"
        refName: "file_auto_batch"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Editgroup"
          schema:
            $ref: "#/definitions/editgroup"
          x-responseId: "CreatedEditgroup"
          x-uppercaseResponseId: "CREATED_EDITGROUP"
          uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
          uppercase_data_type: "EDITGROUP"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "create_file_auto_batch"
      uppercase_operation_id: "CREATE_FILE_AUTO_BATCH"
      path: "/editgroup/auto/file/batch"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /file/{ident}:
    get:
      tags:
      - "files"
      operationId: "get_file"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For files, `releases`\
          \ is accepted."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For files, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file"
      uppercase_operation_id: "GET_FILE"
      path: "/file/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{editgroup_id}/file/{ident}:
    put:
      tags:
      - "files"
      operationId: "update_file"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/file_entity"
        uppercase_data_type: "FILEENTITY"
        refName: "file_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_FILE"
        consumesJson: true
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "update_file"
      uppercase_operation_id: "UPDATE_FILE"
      path: "/editgroup/:editgroup_id/file/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "files"
      operationId: "delete_file"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
            $ref: "#/definitions/error_response"
          headers:
            WWW_Authenticate:
              type: "string"
          x-responseId: "NotAuthorized"
          x-uppercaseResponseId: "NOT_AUTHORIZED"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Forbidden"
          x-uppercaseResponseId: "FORBIDDEN"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      security:
      - Bearer: []
      operation_id: "delete_file"
      uppercase_operation_id: "DELETE_FILE"
      path: "/editgroup/:editgroup_id/file/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /file/rev/{rev_id}:
    get:
      tags:
      - "files"
      operationId: "get_file_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. See `get_file`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_file`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_revision"
      uppercase_operation_id: "GET_FILE_REVISION"
      path: "/file/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/{ident}/history:
    get:
      tags:
      - "files"
      operationId: "get_file_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_history"
      uppercase_operation_id: "GET_FILE_HISTORY"
      path: "/file/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/{ident}/redirects:
    get:
      tags:
      - "files"
      operationId: "get_file_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
              description: "base32-encoded unique identifier"
              minLength: 26
              maxLength: 26
              pattern: "[a-zA-Z2-7]{26}"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_redirects"
      uppercase_operation_id: "GET_FILE_REDIRECTS"
      path: "/file/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/lookup:
    get:
      tags:
      - "files"
      operationId: "lookup_file"
      parameters:
      - name: "md5"
        in: "query"
        description: "MD5 hash of data, in hex encoding"
        required: false
        type: "string"
        maxLength: 32
        minLength: 32
        pattern: "[a-f0-9]{32}"
        formatString: "{:?}"
        example: "Some(\"md5_example\".to_string())"
      - name: "sha1"
        in: "query"
        description: "SHA-1 hash of data, in hex encoding"
        required: false
        type: "string"
        maxLength: 40
        minLength: 40
        pattern: "[a-f0-9]{40}"
        formatString: "{:?}"
        example: "Some(\"sha1_example\".to_string())"
      - name: "sha256"
        in: "query"
        description: "SHA-256 hash of data, in hex encoding"
        required: false
        type: "string"
        maxLength: 64
        minLength: 64
        pattern: "[a-f0-9]{64}"
        formatString: "{:?}"
        example: "Some(\"sha256_example\".to_string())"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. See `get_file`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. See `get_file`."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "lookup_file"
      uppercase_operation_id: "LOOKUP_FILE"
      path: "/file/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/edit/{edit_id}:
    get:
      tags:
      - "files"
      operationId: "get_file_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"edit_id_example\".to_string()"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_edit"
      uppercase_operation_id: "GET_FILE_EDIT"
      path: "/file/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{editgroup_id}/file/edit/{edit_id}:
    delete:
      tags:
      - "files"
      operationId: "delete_file_edit"
      parameters:
      - name: "editgroup_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"editgroup_id_example\".to_string()"
      - name: "edit_id"
        in: "path"
        description: "UUID (lower-case, dash-separated, hex-encoded 128-bit)"
        required: true
        type: "string"
        maxLength: 36
        minLength: 36
        pattern: "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        formatString: "\\\"{}\\\""
        example: "\"edit_id_example\".to_string()"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_FILE_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        401:
          description: "Not Authorized"
          schema:
[...]
