*.sqlite
*.sqlite3
*,cover
htmlcov/
golang/fatcatd

*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
*.log

!.coveragerc
!.gitlab-ci.yml
!.pylintrc

# Don't ignore this file itself
!.gitignore
