{% extends "base.html" %}
{% block body %}

<h1>Salutations!</h1>

Just mockups for now...

<ul>
  <li><b>Work:</b>
    <a href="/work/create">Create</a>,
    <a href="/work/random">Random</a>
  <li><b>Release:</b>
    <a href="/release/create">Create</a>,
    <a href="/release/random">Random</a>
  <li><b><strike>File:</strike></b>
    <a href="/file/create">Create</a>,
    <a href="/file/random">Random</a>
  <li><b><strike>Contributor:</strike></b>
    <a href="/contrib/create">Create</a>,
    <a href="/contrib/random">Random</a>
  <li><b><strike>Container:</strike></b>
    <a href="/container/create">Create</a>,
    <a href="/container/random">Random</a>
  <li>Edit groups...
  <li>Changelog...
  <li>Login/Signup...
</ul>

{% endblock %}
