{% extends "base.html" %}
{% block body %}

<h1 class="ui header">Recent Changes
<div class="sub header"><code>changelog</code></div></h1>

Limited to the most recent ~50 entries.

<table class="ui table">
  <thead><tr><th>Changelog<br>Index
             <th>Timestamp (UTC)
             <th>Editgroup
             <th>Editor
             <th>Description
  <tbody>
  {% for entry in entries %}
  <tr><td><a href="/changelog/{{ entry.index }}">{{ entry.index }}</a>
      <td>{{ entry.timestamp }}
      <td><a href="/editgroup/{{ entry.editgroup_id }}">{{ entry.editgroup_id }}</a>
      <td><a href="/editor/{{ entry.editgroup.editor_id }}">{{ entry.editgroup.editor_id }}</a>
      <td>{% if entry.editgroup.description != None %}{{ entry.editgroup.description }}{% endif %}
  {% endfor %}
</table>

{% endblock %}
