{% extends "base.html" %}
{% block body %}

<h1>{{ container.name }}</h1>

<p><b>Publisher:</b> {{ container.publisher }}
<p><b>ISSN-L<sup><a href="https://en.wikipedia.org/wiki/International_Standard_Serial_Number#Linking_ISSN">?</a></sup></b>:
    <code>{{ container.issnl }}</code>
{% if container.coden != None %}
<p><b>CODEN<sup><a href="https://en.wikipedia.org/wiki/CODEN">?</a></sup>:</b> <code>{{ container.coden }}</code>
{% endif %}
{% if container.abbrev != None %}
<p><b>Abbreviation:</b> <code>{{ container.abbrev }}</code>
{% endif %}
<p><b>fatcat Container Identifier:</b> <code>{{ container.ident }}</code> (revision #{{ container.revision }}, {{ container.state }})
{% if container.extra != None %}
<p><b>Additional Metadata (raw JSON):</b>
<pre>{{ container.extra }}</pre>
{% endif %}

<!--
Raw JSON Object:
{{ container }}
-->

{% endblock %}
