{% extends "base.html" %}
{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">{{ container.name }}
  <div class="sub header"><code>container {{ container.ident }}</code></div></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

<p><b>Publisher:</b>
{% if container.publisher != None %}{{ container.publisher }}{% else %}<i>Unknown</i>{% endif %}
{% if container.coden != None %}
<br><b>CODEN<sup><a href="https://en.wikipedia.org/wiki/CODEN">?</a></sup>:</b> &nbsp;<code>{{ container.coden }}</code>
{% endif %}
{% if container.abbrev != None %}
<br><b>Abbrev.:</b> &nbsp;<code>{{ container.abbrev }}</code>
{% endif %}
{% if (container.extra != None) and (container.extra['url'] != None) and (container.extra['url']|length > 0) %}
<br><b>Homepage:</b> <a href="{{ container.extra['url'] }}">&nbsp;<code>{{ container.extra['url'] }}</code></a>
{% endif %}
{% if container.wikidata_qid != None %}
<br><b>Wikidata Entity:</b> <a href="https://www.wikidata.org/wiki/{{ container.wikidata_qid }}">&nbsp;<code>{{ container.wikidata_qid }}</code></a>
{% endif %}

{% if container.extra != None %}
<h3>Extra Metadata (raw JSON)</h3>
{% for (key, value) in container.extra.items() %}
<code><b>{{ key }}:</b> {{ value }}</code><br>
{% endfor %}
{% endif %}

<!--
Raw Object:
{{ container|safe }}
-->

</div>
<div class="five wide column">
<div class="ui segment top attached">

{% if container.extra.is_oa == True %}
<i class="icon unlock huge orange"></i><b>Open Access Publisher</b>
{% elif container.extra.is_oa == False  %}
<i class="icon lock huge black"></i><b>Not Open Access</b>
{% else %}
<i class="icon question huge grey"></i><b>Unknown OA Status</b>
{% endif %}
</div><div class="ui segment attached">

{% if container.issnl != None %}
  <b>ISSN-L<sup><a href="https://en.wikipedia.org/wiki/International_Standard_Serial_Number#Linking_ISSN">?</a></sup></b> 
  &nbsp;<code>{{ container.issnl }}</code>
  {% if container.extra != None and container.extra.ISSNp != None and (container.extra.ISSNp|length > 0) %}
    <br><i class="icon paperclip"></i>Print: &nbsp;<code>{{ container.extra.ISSNp }}</code>
  {% endif %}
  {% if container.extra != None and container.extra.ISSNe != None and (container.extra.ISSNe|length > 0) %}
    <br><i class="icon plug"></i>Electronic: &nbsp;<code>{{ container.extra.ISSNe }}</code>
  {% endif %}
  </div><div class="ui segment attached">
{% endif %}


<b>Directory Listings</b><br>
{% if (container.extra != None) %}
  {% if container.extra.in_doaj == True %}
    <i class="icon check green"></i> In <a href="https://doaj.org/toc/{{ container.issnl }}">DOAJ</a><br>
  {% elif container.extra.in_doaj == False %}
    <i class="icon times grey"></i> Not in <a href="https://doaj.org">DOAJ</a><br>
  {% endif %}
  {% if container.extra.in_road == True %}
    <i class="icon check green"></i> In <a href="http://road.issn.org/issn/{{ container.issnl }}">ISSN ROAD</a><br>
  {% elif container.extra.in_road == False %}
    <i class="icon times grey"></i> Not in <a href="https://road.issn.org">ISSN ROAD</a><br>
  {% endif %}
  {% if container.extra.is_kept == True %}
    <i class="icon check green"></i> In <a href="https://thekeepers.org/purl/issn/{{ container.issnl }}">Keepers Registery</a><br>
  {% elif container.extra.is_kept == False %}
    <i class="icon times grey"></i> Not in <a href="https://thekeepers.org/journals?query={{ container.issnl }}">Keepers Registry</a><br>
  {% endif %}
{% endif %}
</div><div class="ui segment attached">

<b>Lookup Links</b>
<br><a href="http://www.sherpa.ac.uk/romeo/issn/{{ container.issnl }}/">SHERPA/RoMEO</a> (access policies)
<br><a href="https://www.wikidata.org/w/index.php?search={{ container.name }}">wikidata.org</a>
</div><div class="ui segment attached">

<b>Fatcat Bits</b>
<p>State is "{{ container.state }}". Revision:
<br><small><code>{{ container.revision }}</code></small>
<br><a href="https://api.{{ config.FATCAT_DOMAIN }}/v0/container/{{ container.ident }}">As JSON object via API</a>

</div>
<div class="two ui buttons bottom attached">
  <a href="/container/{{ container.ident }}/edit" class="ui blue button"><strike>Edit Metadata</strike></a>
  <a href="/container/{{ container.ident }}/history" class="ui button">View History</a>
</div>

</div>
</div>

{% endblock %}
