{% extends "base.html" %}
{% block body %}

<h1>{{ creator.display_name }}</h1>

<p><b>Given ("first") name:</b> {{ creator.given_name}}
<p><b>Sur ("family"/"last") name:</b> {{ creator.surname }}
<p><b>ORCID<sup><a href="https://en.wikipedia.org/wiki/Orcid">?</a></sup></b>:
{% if creator.orcid != None %}
    <a href="https://orcid.org/{{creator.orcid}}"><code>{{ creator.orcid }}</code></a>
{% else %}
    unknown
{% endif %}
<p><b>fatcat Creator Identifier:</b> <code>{{ creator.ident }}</code> (revision #{{ creator.revision }}, {{ creator.state }})
{% if creator.extra != None %}
<p><b>Additional Metadata (raw JSON):</b>
<pre>{{ creator.extra }}</pre>
{% endif %}

<!--
Raw JSON Object:
{{ creator }}
-->

{% if releases != [] %}
Releases this creator has contributed to:
<ul>
  {% for release in releases %}
  <li>"{{ release.title }}", a {{ release.release_type }} published {{ release.release_date }} as <code>{{ release.release_status }}</code>.
    <br><a href="/release/{{ release.ident }}"><code>{{ release.ident }}</code></a>
  {% endfor %}
</ul>
{% else %}
This creator has not contributed to any releases.
{% endif %}

{% endblock %}
