{% extends "base.html" %}
{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">{{ creator.display_name }}
  <div class="sub header"><code>creator {{ creator.ident }}</code></div></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

<p><b>Given ("first") name:</b>
    {% if creator.given_name != None %}{{ creator.given_name}}{% else %}<i>None or unknown</i>{% endif %}
<p><b>Sur ("family"/"last") name:</b>
    {% if creator.surname != None %}{{ creator.surname }}{% else %}<i>None or unknown</i>{% endif %}

{% if creator.wikidata_qid != None %}
<br><b>Wikidata Entity:</b> <a href="https://www.wikidata.org/wiki/{{ creator.wikidata_qid }}">&nbsp;<code>{{ creator.wikidata_qid }}</code></a>
{% endif %}
{% if creator.extra != None %}
<h3>Extra Metadata (raw JSON)</h3>
{% for (key, value) in creator.extra.items() %}
<code><b>{{ key }}:</b> {{ value }}</code><br>
{% endfor %}
{% endif %}

<br>
<h3>Releases</h3>
{% if releases != [] %}
<p>This creator has contributed to:
<ul>
  {% for release in releases %}
  <li>"{{ release.title }}", a {{ release.release_type }} published {{ release.release_date }}
      {% if release.release_status != None %}(status: <code>{{ release.release_status }})</code>{% endif %}.
    <br>Fatcat ID: <a href="/release/{{ release.ident }}"><code>{{ release.ident }}</code></a>
  {% endfor %}
</ul>
{% else %}
This creator has not contributed to any releases.
{% endif %}

<!--
Raw Object:
{{ creator|safe }}
-->

</div>
<div class="five wide column">
<div class="ui segment top attached">

{% if creator.orcid != None %}
  <b>ORCID<sup><a href="https://en.wikipedia.org/wiki/Orcid">?</a></sup></b>:
    &nbsp;<a href="https://orcid.org/{{creator.orcid}}"><code>{{ creator.orcid }}</code></a>
  </div><div class="ui segment attached">
{% endif %}

<b>Lookup Links</b>
<br><a href="https://www.wikidata.org/w/index.php?search=&search={{ creator.display_name }}">wikidata.org</a>
<br><a href="https://viaf.org/viaf/search?query=local.personalNames%20all%20%22{{ creator.display_name }}">VIAF</a>
<br><a href="http://dblp.uni-trier.de/search?q={{ creator.display_name }}">dblp</a> (CS)
<br><a href="https://scholar.google.com/scholar?q={{ creator.display_name }}">Google Scholar</a>
</div><div class="ui segment attached">

<b>Fatcat Bits</b>
<p>State is "{{ creator.state }}". Revision:
<br><small><code>{{ creator.revision }}</code></small>
<br><a href="https://api.qa.fatcat.wiki/v0/creator/{{ creator.ident }}">As JSON object via API</a>

</div>
<div class="two ui buttons bottom attached">
  <a href="/creator/{{ creator.ident }}/edit" class="ui blue button">Edit Metadata</a>
  <a href="/creator/{{ creator.ident }}/history" class="ui button">View History</a>
</div>

</div>
</div>

{% endblock %}
