{% extends "base.html" %}
{% block body %}
<div class="ui container text">

<h1>Welcome to fatcat!</h1>

<p><b>Current Status:</b> Demo/prototype. No authentication, etc. All edits
will be lost.

<p>This is versioned, user-editable catalog of research publications: journal
articles, conference proceedings, pre-prints, etc. Features include archival
file-level metadata (verified digests and long-term copies, in addition to
URLs), a <a href="https://api.fatcat.wiki">documented API</a>, and work/release
indexing (aka, linking together of pre-prints and final copies).
<a href="/about">Read more...</a>

<br><br>

<table class="ui single line table">
<thead>
<tr><th>Entity
    <th>Actions
    <th>Examples
</thead>
<tr><td><b>Container</b>
    <td><a href="/container/create">Create</a>
    <td><a href="/container/00000000-0000-0000-1111-000000000002">Fake</a>
        <br><a href="/container/00000000-0000-0000-1111-000000000003">Real</a>
<tr><td><b>Creator</b>
    <td><a href="/creator/create">Create</a>
    <td><a href="/creator/00000000-0000-0000-2222-000000000002">Fake</a>
        <br><a href="/creator/00000000-0000-0000-2222-000000000003">Real</a>
<tr><td><b>File</b>
    <td><a href="/file/create">Create</a>
    <td><a href="/file/00000000-0000-0000-3333-000000000002">Fake</a>
        <br><a href="/file/00000000-0000-0000-3333-000000000003">Real</a>
<tr><td><b>Release</b>
    <td><a href="/release/create">Create</a>
    <td><a href="/release/00000000-0000-0000-4444-000000000002">Fake</a>
        <br><a href="/release/00000000-0000-0000-4444-000000000003">Real</a>
<tr><td><b>Work</b>
    <td><a href="/work/create">Create</a>
    <td><a href="/work/00000000-0000-0000-5555-000000000002">Fake</a>
        <br><a href="/work/00000000-0000-0000-5555-000000000003">Real</a>
</table>

</div>
{% endblock %}
