{% extends "base.html" %}
{% block body %}

{% if found %}
<h1>Search Results</h1>
<i>Showing top {{ found.count_returned }} out of {{ found.count_found }} results for: <code>{{ found.query.q }}</code></i>
{% for paper in found.results %}
<div>
  <h4 style="margin-top: 1em; margin-bottom: 4px;"><a href="/release/lookup?doi={{ paper.doi }}" style="color: #2224c7;">{{ paper['title'] }}</a></h4>
  <h5 style="margin-top: 4px; margin-bottom: 4px;">{{ ", ".join(paper.authors) }}</h5>
  DOI: <a href="http://oadoi.org/{{paper.doi }}" style="color: green;">{{ paper.doi }}</a>
  <br>Journal: {{ paper.journal }}
  <!-- <br>Date: {{ paper.date }} -->
</div>
{% else %}
<br/>
<p>Try:</p>
<ul>
    <li>Search <a href="https://dissem.in/search?q={{ found.query.q | urlencode }}">dissem.in</a></li>
    <li>Search <a href="https://www.base-search.net/Search/Results?lookfor={{ found.query.q | urlencode }}">BASE</a></li>
    <li>Search <a href="https://scholar.google.com/scholar?q={{ found.query.q | urlencode }}">Google Scholar</a></li>
</ul>
<div class="featurette-inner text-center" style="padding-top: 25%;">
<h3>Found nothing!</h3>
</div>
{% endfor %}
{% else %}
<div class="featurette-inner text-center" style="padding-top: 25%;">
<h3>Enter a query above</h3>
</div>
{% endif %}

{% endblock %}
