{% extends "base.html" %}
{% block fullbody %}

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="fifteen wide column">
  <h1 class="ui header">
  <div class="sub header"><code>work {{ work.ident }}</code></div></h1>
</div>
</div>

<div class="ui stackable mobile reversed grid centered">
<div class="one wide column"></div>
<div class="ten wide column" style="font-size: 16px;">

{% if work.extra != None %}
<h3>Extra Metadata (raw JSON)</h3>
{% for (key, value) in work.extra.items() %}
<code><b>{{ key }}:</b> {{ value }}</code><br>
{% endfor %}
{% endif %}

<!--
Raw Object:
{{ work|safe }}
-->

<p>A "work" is just a linking identifier between a set of releases. For
example, a pre-print and a published article may contain small differences, but
still reference the same underlying "work".

<br>

{% if releases != [] %}
<ul>
  {% for release in releases %}
  <li>"{{ release.title }}", a {{ release.release_type }} published {{ release.release_date }} as <code>{{ release.release_status }}</code>.
    <br><a href="/release/{{ release.ident }}"><code>{{ release.ident }}</code></a>
  {% endfor %}
</ul>
{% else %}
<p>There are no known releases associated with this work.
{% endif %}


</div>
<div class="five wide column">
<div class="ui segment top attached">

<b>Work Type:</b>
{% if work.work_type != None %}
&nbsp;<code>{{ work.work_type }}</code>
{% else %}
<i>unkonwn</i>
{% endif %}
</div><div class="ui segment attached">

<b>Fatcat Bits</b>
<p>State is "{{ work.state }}". Revision:
<br><small><code>{{ work.revision }}</code></small>
<br><a href="https://api.{{ config.FATCAT_DOMAIN }}/v0/work/{{ work.ident }}">As JSON object via API</a>

</div>
<div class="two ui buttons bottom attached">
  <a href="/work/{{ work.ident }}/edit" class="ui blue button"><strike>Edit Metadata</strike></a>
  <a href="/work/{{ work.ident }}/history" class="ui button">View History</a>
</div>

</div>
</div>

{% endblock %}
