{% extends "base.html" %}
{% block body %}

<h1>Work {{ work.ident }}</h1>

<p><b>fatcat Work Identifier:</b> <code>{{ work.ident }}</code> (revision #{{ work.revision }}, {{ work.state }})
{% if work.extra != None %}
<p><b>Additional Metadata (raw JSON):</b>
<pre>{{ work.extra }}</pre>
{% endif %}

<!--
Raw JSON Object:
{{ work }}
-->

<p>A "work" is just a linking identifier between a set of releases. For
example, a pre-print and a published article may contain small differences, but
still reference the same underlying "work".

<br>

{% if releases %}
<ul>
{% for r in releases %}
  <ul><a href="/release/{{ r.ident }}">{{ r.title }}</a> ({{ y.release_type }} - {{ y.date }})
{% endfor %}
</ul>
{% else %}
<p>There are no known releases associated with this work.
{% endif %}

{% endblock %}
