---
swagger: "2.0"
info:
  description: "A scalable, versioned, API-oriented catalog of bibliographic entities\
    \ and file metadata"
  version: "0.1.0"
  title: "fatcat"
host: "api.fatcat.wiki"
basePath: "/v0"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /creator:
    post:
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/creator_entity"
        uppercase_data_type: "CREATORENTITY"
        refName: "creator_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "changelogentries_inner"
        uppercase_operation_id: "CREATOR_POST"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATOR_POST"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATOR_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATOR_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATOR_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "creator_post"
      uppercase_operation_id: "CREATOR_POST"
      path: "/creator"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /creator/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"id_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "CREATOR_ID_GET"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATOR_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATOR_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATOR_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "creator_id_get"
      uppercase_operation_id: "CREATOR_ID_GET"
      path: "/creator/:id"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/lookup:
    get:
      parameters:
      - name: "orcid"
        in: "query"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"orcid_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "CREATOR_LOOKUP_GET"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATOR_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATOR_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATOR_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "creator_lookup_get"
      uppercase_operation_id: "CREATOR_LOOKUP_GET"
      path: "/creator/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /container:
    post:
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/container_entity"
        uppercase_data_type: "CONTAINERENTITY"
        refName: "container_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "changelogentries_inner"
        uppercase_operation_id: "CONTAINER_POST"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CONTAINER_POST"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CONTAINER_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CONTAINER_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CONTAINER_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "container_post"
      uppercase_operation_id: "CONTAINER_POST"
      path: "/container"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /container/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"id_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "CONTAINER_ID_GET"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CONTAINER_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CONTAINER_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CONTAINER_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "container_id_get"
      uppercase_operation_id: "CONTAINER_ID_GET"
      path: "/container/:id"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/lookup:
    get:
      parameters:
      - name: "issn"
        in: "query"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"issn_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "CONTAINER_LOOKUP_GET"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CONTAINER_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CONTAINER_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CONTAINER_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "container_lookup_get"
      uppercase_operation_id: "CONTAINER_LOOKUP_GET"
      path: "/container/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /file:
    post:
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/file_entity"
        uppercase_data_type: "FILEENTITY"
        refName: "file_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "changelogentries_inner"
        uppercase_operation_id: "FILE_POST"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "FILE_POST"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "FILE_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "FILE_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "FILE_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "file_post"
      uppercase_operation_id: "FILE_POST"
      path: "/file"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /file/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"id_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "FILE_ID_GET"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "FILE_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "FILE_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "FILE_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "file_id_get"
      uppercase_operation_id: "FILE_ID_GET"
      path: "/file/:id"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/lookup:
    get:
      parameters:
      - name: "sha1"
        in: "query"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"sha1_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "FILE_LOOKUP_GET"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "FILE_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "FILE_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "FILE_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "file_lookup_get"
      uppercase_operation_id: "FILE_LOOKUP_GET"
      path: "/file/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /release:
    post:
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/release_entity"
        uppercase_data_type: "RELEASEENTITY"
        refName: "release_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "changelogentries_inner"
        uppercase_operation_id: "RELEASE_POST"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "RELEASE_POST"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "RELEASE_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "RELEASE_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "RELEASE_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "release_post"
      uppercase_operation_id: "RELEASE_POST"
      path: "/release"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /release/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"id_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/release_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "RELEASE_ID_GET"
          uppercase_data_type: "RELEASEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "RELEASE_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "RELEASE_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "RELEASE_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "release_id_get"
      uppercase_operation_id: "RELEASE_ID_GET"
      path: "/release/:id"
      HttpMethod: "Get"
      httpmethod: "get"
  /release/lookup:
    get:
      parameters:
      - name: "doi"
        in: "query"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"doi_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/release_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "RELEASE_LOOKUP_GET"
          uppercase_data_type: "RELEASEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "RELEASE_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "RELEASE_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "RELEASE_LOOKUP_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "release_lookup_get"
      uppercase_operation_id: "RELEASE_LOOKUP_GET"
      path: "/release/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /work:
    post:
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/work_entity"
        uppercase_data_type: "WORKENTITY"
        refName: "work_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "changelogentries_inner"
        uppercase_operation_id: "WORK_POST"
        consumesJson: true
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "WORK_POST"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "WORK_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "WORK_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "WORK_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "work_post"
      uppercase_operation_id: "WORK_POST"
      path: "/work"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /work/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"id_example\".to_string()"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/work_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "WORK_ID_GET"
          uppercase_data_type: "WORKENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "WORK_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "WORK_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "WORK_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "work_id_get"
      uppercase_operation_id: "WORK_ID_GET"
      path: "/work/:id"
      HttpMethod: "Get"
      httpmethod: "get"
  /editor/{username}:
    get:
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"username_example\".to_string()"
      responses:
        200:
          description: "Found Editor"
          schema:
            $ref: "#/definitions/editor"
          x-responseId: "FoundEditor"
          x-uppercaseResponseId: "FOUND_EDITOR"
          uppercase_operation_id: "EDITOR_USERNAME_GET"
          uppercase_data_type: "EDITOR"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "EDITOR_USERNAME_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "EDITOR_USERNAME_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "editor_username_get"
      uppercase_operation_id: "EDITOR_USERNAME_GET"
      path: "/editor/:username"
      HttpMethod: "Get"
      httpmethod: "get"
  /editor/{username}/changelog:
    get:
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"username_example\".to_string()"
      responses:
        200:
          description: "Found Merged Changes"
          schema:
            $ref: "#/definitions/changelogentries"
          x-responseId: "FoundMergedChanges"
          x-uppercaseResponseId: "FOUND_MERGED_CHANGES"
          uppercase_operation_id: "EDITOR_USERNAME_CHANGELOG_GET"
          uppercase_data_type: "CHANGELOGENTRIES"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "EDITOR_USERNAME_CHANGELOG_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "EDITOR_USERNAME_CHANGELOG_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "editor_username_changelog_get"
      uppercase_operation_id: "EDITOR_USERNAME_CHANGELOG_GET"
      path: "/editor/:username/changelog"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup:
    post:
      parameters: []
      responses:
        201:
          description: "Successfully Created"
          schema:
            $ref: "#/definitions/editgroup"
          x-responseId: "SuccessfullyCreated"
          x-uppercaseResponseId: "SUCCESSFULLY_CREATED"
          uppercase_operation_id: "EDITGROUP_POST"
          uppercase_data_type: "EDITGROUP"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "EDITGROUP_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "EDITGROUP_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "editgroup_post"
      uppercase_operation_id: "EDITGROUP_POST"
      path: "/editgroup"
      HttpMethod: "Post"
      httpmethod: "post"
  /editgroup/{id}:
    get:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        formatString: "{}"
        example: "56"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/editgroup"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "EDITGROUP_ID_GET"
          uppercase_data_type: "EDITGROUP"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "EDITGROUP_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "EDITGROUP_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "EDITGROUP_ID_GET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "editgroup_id_get"
      uppercase_operation_id: "EDITGROUP_ID_GET"
      path: "/editgroup/:id"
      HttpMethod: "Get"
      httpmethod: "get"
  /editgroup/{id}/accept:
    post:
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        formatString: "{}"
        example: "56"
      responses:
        200:
          description: "Merged Successfully"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "MergedSuccessfully"
          x-uppercaseResponseId: "MERGED_SUCCESSFULLY"
          uppercase_operation_id: "EDITGROUP_ID_ACCEPT_POST"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Unmergable"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "Unmergable"
          x-uppercaseResponseId: "UNMERGABLE"
          uppercase_operation_id: "EDITGROUP_ID_ACCEPT_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "EDITGROUP_ID_ACCEPT_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        default:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "EDITGROUP_ID_ACCEPT_POST"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "editgroup_id_accept_post"
      uppercase_operation_id: "EDITGROUP_ID_ACCEPT_POST"
      path: "/editgroup/:id/accept"
      HttpMethod: "Post"
      httpmethod: "post"
definitions:
  error_response:
    type: "object"
    required:
    - "message"
    properties:
      message:
        type: "string"
    upperCaseName: "ERROR_RESPONSE"
  success:
    type: "object"
    required:
    - "message"
    properties:
      message:
        type: "string"
    example:
      message: "message"
    upperCaseName: "SUCCESS"
  creator_entity:
    type: "object"
    required:
    - "name"
    properties:
      orcid:
        type: "string"
      name:
        type: "string"
      editgroup:
        type: "integer"
      redirect:
        type: "string"
      revision:
        type: "integer"
      ident:
        type: "string"
      state:
        type: "string"
        enum:
        - "wip"
        - "active"
        - "redirect"
        - "deleted"
    example:
      redirect: "redirect"
      editgroup: 0
      ident: "ident"
      name: "name"
      orcid: "orcid"
      state: "wip"
      revision: 6
    upperCaseName: "CREATOR_ENTITY"
  container_entity:
    type: "object"
    required:
    - "name"
    properties:
      issn:
        type: "string"
      publisher:
        type: "string"
      name:
        type: "string"
      state:
        type: "string"
        enum:
        - "wip"
        - "active"
        - "redirect"
        - "deleted"
      ident:
        type: "string"
      revision:
        type: "integer"
      redirect:
        type: "string"
      editgroup:
        type: "integer"
    example:
      redirect: "redirect"
      editgroup: 6
      issn: "issn"
      ident: "ident"
      name: "name"
      publisher: "publisher"
      state: "wip"
      revision: 0
    upperCaseName: "CONTAINER_ENTITY"
  file_entity:
    type: "object"
    properties:
      url:
        type: "string"
        format: "url"
      sha1:
        type: "string"
      size:
        type: "integer"
      editgroup:
        type: "integer"
      redirect:
        type: "string"
      revision:
        type: "integer"
      ident:
        type: "string"
      state:
        type: "string"
        enum:
        - "wip"
        - "active"
        - "redirect"
        - "deleted"
    example:
      sha1: "sha1"
      redirect: "redirect"
      editgroup: 6
      size: 0
      ident: "ident"
      state: "wip"
      url: "http://example.com/aeiou"
      revision: 1
    upperCaseName: "FILE_ENTITY"
  release_entity:
    type: "object"
    required:
    - "title"
    properties:
      issue:
        type: "string"
      pages:
        type: "string"
      volume:
        type: "string"
      doi:
        type: "string"
      release_type:
        type: "string"
      container_id:
        type: "string"
      work_id:
        type: "string"
      title:
        type: "string"
      state:
        type: "string"
        enum:
        - "wip"
        - "active"
        - "redirect"
        - "deleted"
      ident:
        type: "string"
      revision:
        type: "integer"
      redirect:
        type: "string"
      editgroup:
        type: "integer"
    example:
      redirect: "redirect"
      work_id: "work_id"
      editgroup: 6
      issue: "issue"
      ident: "ident"
      release_type: "release_type"
      title: "title"
      revision: 0
      volume: "volume"
      pages: "pages"
      state: "wip"
      container_id: "container_id"
      doi: "doi"
    upperCaseName: "RELEASE_ENTITY"
  work_entity:
    type: "object"
    properties:
      work_type:
        type: "string"
      editgroup:
        type: "integer"
      redirect:
        type: "string"
      revision:
        type: "integer"
      ident:
        type: "string"
      state:
        type: "string"
        enum:
        - "wip"
        - "active"
        - "redirect"
        - "deleted"
    example:
      redirect: "redirect"
      editgroup: 0
      ident: "ident"
      work_type: "work_type"
      state: "wip"
      revision: 6
    upperCaseName: "WORK_ENTITY"
  entity_edit:
    type: "object"
    properties:
      editgroup_id:
        type: "integer"
      revision:
        type: "integer"
      ident:
        type: "string"
      edit_id:
        type: "integer"
    example:
      ident: "ident"
      edit_id: 1
      editgroup_id: 0
      revision: 6
    upperCaseName: "ENTITY_EDIT"
  editor:
    type: "object"
    required:
    - "username"
    properties:
      username:
        type: "string"
    example:
      username: "username"
    upperCaseName: "EDITOR"
  editgroup:
    type: "object"
    required:
    - "editor_id"
    properties:
      id:
        type: "integer"
      editor_id:
        type: "integer"
      description:
        type: "string"
    example:
      description: "description"
      editor_id: 6
      id: 0
    upperCaseName: "EDITGROUP"
  changelogentries:
    type: "array"
    items:
      $ref: "#/definitions/changelogentries_inner"
    upperCaseName: "CHANGELOGENTRIES"
  changelogentries_inner:
    required:
    - "editgroup_id"
    - "index"
    - "timestamp"
    properties:
      index:
        type: "integer"
      editgroup_id:
        type: "integer"
      timestamp:
        type: "string"
        format: "date-time"
    upperCaseName: "CHANGELOGENTRIES_INNER"
x-entity-props:
  state:
    type: "string"
    enum:
    - "wip"
    - "active"
    - "redirect"
    - "deleted"
  ident:
    type: "string"
  revision:
    type: "integer"
  redirect:
    type: "string"
  editgroup:
    type: "integer"
x-entity-edit-props:
  edit_id:
    type: "integer"
  ident:
    type: "string"
  revision:
    type: "integer"
  editgroup_id:
    type: "integer"
x-entity-responses:
  400:
    description: "Bad Request"
    schema:
      $ref: "#/definitions/error_response"
  404:
    description: "Not Found"
    schema:
      $ref: "#/definitions/error_response"
  default:
    description: "Generic Error"
    schema:
      $ref: "#/definitions/error_response"
