---
swagger: "2.0"
info:
  description: "A scalable, versioned, API-oriented catalog of bibliographic entities\
    \ and file metadata"
  version: "0.1.0"
  title: "fatcat"
host: "api.fatcat.wiki"
basePath: "/v0"
tags:
- name: "containers"
- name: "creators"
- name: "files"
- name: "releases"
- name: "works"
- name: "edit-lifecycle"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /container:
    post:
      tags:
      - "containers"
      operationId: "create_container"
      parameters:
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/container_entity"
        uppercase_data_type: "CONTAINERENTITY"
        refName: "container_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CONTAINER"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_container"
      uppercase_operation_id: "CREATE_CONTAINER"
      path: "/container"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /container/batch:
    post:
      tags:
      - "containers"
      operationId: "create_container_batch"
      parameters:
      - name: "autoaccept"
        in: "query"
        description: "If true, and editor is authorized, batch is accepted all at\
          \ once"
        required: false
        type: "boolean"
        formatString: "{:?}"
        example: "Some(true)"
      - name: "editgroup_id"
        in: "query"
        description: "Editgroup to auto-accept and apply to all entities (required\
          \ if 'autoaccept' is True)"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      - in: "body"
        name: "entity_list"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/container_entity"
        formatString: "{:?}"
        example: "&Vec::new()"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CONTAINER_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Entities"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntities"
          x-uppercaseResponseId: "CREATED_ENTITIES"
          uppercase_operation_id: "CREATE_CONTAINER_BATCH"
          uppercase_data_type: "VEC<ENTITYEDIT>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CONTAINER_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CONTAINER_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CONTAINER_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_container_batch"
      uppercase_operation_id: "CREATE_CONTAINER_BATCH"
      path: "/container/batch"
      HttpMethod: "Post"
      httpmethod: "post"
  /container/{ident}:
    get:
      tags:
      - "containers"
      operationId: "get_container"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container"
      uppercase_operation_id: "GET_CONTAINER"
      path: "/container/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
    put:
      tags:
      - "containers"
      operationId: "update_container"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/container_entity"
        uppercase_data_type: "CONTAINERENTITY"
        refName: "container_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_CONTAINER"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "update_container"
      uppercase_operation_id: "UPDATE_CONTAINER"
      path: "/container/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "containers"
      operationId: "delete_container"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_container"
      uppercase_operation_id: "DELETE_CONTAINER"
      path: "/container/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /container/rev/{rev_id}:
    get:
      tags:
      - "containers"
      operationId: "get_container_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_revision"
      uppercase_operation_id: "GET_CONTAINER_REVISION"
      path: "/container/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/{ident}/history:
    get:
      tags:
      - "containers"
      operationId: "get_container_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_history"
      uppercase_operation_id: "GET_CONTAINER_HISTORY"
      path: "/container/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/{ident}/redirects:
    get:
      tags:
      - "containers"
      operationId: "get_container_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_redirects"
      uppercase_operation_id: "GET_CONTAINER_REDIRECTS"
      path: "/container/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/lookup:
    get:
      tags:
      - "containers"
      operationId: "lookup_container"
      parameters:
      - name: "issnl"
        in: "query"
        required: false
        type: "string"
        maxLength: 9
        minLength: 9
        pattern: "\\d{4}-\\d{3}[0-9X]"
        formatString: "{:?}"
        example: "Some(\"issnl_example\".to_string())"
      - name: "wikidata_qid"
        in: "query"
        required: false
        formatString: "{:?}"
        example: "Some(\"wikidata_qid_example\".to_string())"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For container, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/container_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "CONTAINERENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "LOOKUP_CONTAINER"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "lookup_container"
      uppercase_operation_id: "LOOKUP_CONTAINER"
      path: "/container/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /container/edit/{edit_id}:
    get:
      tags:
      - "containers"
      operationId: "get_container_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_container_edit"
      uppercase_operation_id: "GET_CONTAINER_EDIT"
      path: "/container/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
    delete:
      tags:
      - "containers"
      operationId: "delete_container_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CONTAINER_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_container_edit"
      uppercase_operation_id: "DELETE_CONTAINER_EDIT"
      path: "/container/edit/:edit_id"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /creator:
    post:
      tags:
      - "creators"
      operationId: "create_creator"
      parameters:
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/creator_entity"
        uppercase_data_type: "CREATORENTITY"
        refName: "creator_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CREATOR"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_creator"
      uppercase_operation_id: "CREATE_CREATOR"
      path: "/creator"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /creator/batch:
    post:
      tags:
      - "creators"
      operationId: "create_creator_batch"
      parameters:
      - name: "autoaccept"
        in: "query"
        description: "If true, and editor is authorized, batch is accepted all at\
          \ once"
        required: false
        type: "boolean"
        formatString: "{:?}"
        example: "Some(true)"
      - name: "editgroup_id"
        in: "query"
        description: "Editgroup to auto-accept and apply to all entities (required\
          \ if 'autoaccept' is True)"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      - in: "body"
        name: "entity_list"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/creator_entity"
        formatString: "{:?}"
        example: "&Vec::new()"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_CREATOR_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Entities"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntities"
          x-uppercaseResponseId: "CREATED_ENTITIES"
          uppercase_operation_id: "CREATE_CREATOR_BATCH"
          uppercase_data_type: "VEC<ENTITYEDIT>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_CREATOR_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_CREATOR_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_CREATOR_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_creator_batch"
      uppercase_operation_id: "CREATE_CREATOR_BATCH"
      path: "/creator/batch"
      HttpMethod: "Post"
      httpmethod: "post"
  /creator/{ident}:
    get:
      tags:
      - "creators"
      operationId: "get_creator"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For creators, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For containers,\
          \ none accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator"
      uppercase_operation_id: "GET_CREATOR"
      path: "/creator/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
    put:
      tags:
      - "creators"
      operationId: "update_creator"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/creator_entity"
        uppercase_data_type: "CREATORENTITY"
        refName: "creator_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_CREATOR"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "update_creator"
      uppercase_operation_id: "UPDATE_CREATOR"
      path: "/creator/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "creators"
      operationId: "delete_creator"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_creator"
      uppercase_operation_id: "DELETE_CREATOR"
      path: "/creator/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /creator/rev/{rev_id}:
    get:
      tags:
      - "creators"
      operationId: "get_creator_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For creators, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For creators, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_revision"
      uppercase_operation_id: "GET_CREATOR_REVISION"
      path: "/creator/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/{ident}/history:
    get:
      tags:
      - "creators"
      operationId: "get_creator_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_history"
      uppercase_operation_id: "GET_CREATOR_HISTORY"
      path: "/creator/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/{ident}/releases:
    get:
      tags:
      - "creators"
      operationId: "get_creator_releases"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For creators, none\
          \ implemented yet."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/release_entity"
          x-responseId: "Found"
          x-uppercaseResponseId: "FOUND"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "VEC<RELEASEENTITY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_RELEASES"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_releases"
      uppercase_operation_id: "GET_CREATOR_RELEASES"
      path: "/creator/:ident/releases"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/{ident}/redirects:
    get:
      tags:
      - "creators"
      operationId: "get_creator_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_redirects"
      uppercase_operation_id: "GET_CREATOR_REDIRECTS"
      path: "/creator/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/lookup:
    get:
      tags:
      - "creators"
      operationId: "lookup_creator"
      parameters:
      - name: "orcid"
        in: "query"
        required: false
        type: "string"
        maxLength: 19
        minLength: 19
        pattern: "\\d{4}-\\d{4}-\\d{4}-\\d{3}[\\dX]"
        formatString: "{:?}"
        example: "Some(\"orcid_example\".to_string())"
      - name: "wikidata_qid"
        in: "query"
        required: false
        formatString: "{:?}"
        example: "Some(\"wikidata_qid_example\".to_string())"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For creator, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/creator_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "CREATORENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "LOOKUP_CREATOR"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "lookup_creator"
      uppercase_operation_id: "LOOKUP_CREATOR"
      path: "/creator/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /creator/edit/{edit_id}:
    get:
      tags:
      - "creators"
      operationId: "get_creator_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_creator_edit"
      uppercase_operation_id: "GET_CREATOR_EDIT"
      path: "/creator/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
    delete:
      tags:
      - "creators"
      operationId: "delete_creator_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_CREATOR_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_creator_edit"
      uppercase_operation_id: "DELETE_CREATOR_EDIT"
      path: "/creator/edit/:edit_id"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /file:
    post:
      tags:
      - "files"
      operationId: "create_file"
      parameters:
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/file_entity"
        uppercase_data_type: "FILEENTITY"
        refName: "file_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_FILE"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_file"
      uppercase_operation_id: "CREATE_FILE"
      path: "/file"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /file/batch:
    post:
      tags:
      - "files"
      operationId: "create_file_batch"
      parameters:
      - name: "autoaccept"
        in: "query"
        description: "If true, and editor is authorized, batch is accepted all at\
          \ once"
        required: false
        type: "boolean"
        formatString: "{:?}"
        example: "Some(true)"
      - name: "editgroup_id"
        in: "query"
        description: "Editgroup to auto-accept and apply to all entities (required\
          \ if 'autoaccept' is True)"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      - in: "body"
        name: "entity_list"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/file_entity"
        formatString: "{:?}"
        example: "&Vec::new()"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_FILE_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Entities"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntities"
          x-uppercaseResponseId: "CREATED_ENTITIES"
          uppercase_operation_id: "CREATE_FILE_BATCH"
          uppercase_data_type: "VEC<ENTITYEDIT>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_FILE_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_FILE_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_FILE_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_file_batch"
      uppercase_operation_id: "CREATE_FILE_BATCH"
      path: "/file/batch"
      HttpMethod: "Post"
      httpmethod: "post"
  /file/{ident}:
    get:
      tags:
      - "files"
      operationId: "get_file"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For files, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For files, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file"
      uppercase_operation_id: "GET_FILE"
      path: "/file/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
    put:
      tags:
      - "files"
      operationId: "update_file"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/file_entity"
        uppercase_data_type: "FILEENTITY"
        refName: "file_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_FILE"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "update_file"
      uppercase_operation_id: "UPDATE_FILE"
      path: "/file/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "files"
      operationId: "delete_file"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_file"
      uppercase_operation_id: "DELETE_FILE"
      path: "/file/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /file/rev/{rev_id}:
    get:
      tags:
      - "files"
      operationId: "get_file_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For files, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For files, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_revision"
      uppercase_operation_id: "GET_FILE_REVISION"
      path: "/file/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/{ident}/history:
    get:
      tags:
      - "files"
      operationId: "get_file_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_history"
      uppercase_operation_id: "GET_FILE_HISTORY"
      path: "/file/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/{ident}/redirects:
    get:
      tags:
      - "files"
      operationId: "get_file_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_redirects"
      uppercase_operation_id: "GET_FILE_REDIRECTS"
      path: "/file/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/lookup:
    get:
      tags:
      - "files"
      operationId: "lookup_file"
      parameters:
      - name: "md5"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"md5_example\".to_string())"
      - name: "sha1"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"sha1_example\".to_string())"
      - name: "sha256"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"sha256_example\".to_string())"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For files, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/file_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "FILEENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "LOOKUP_FILE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "lookup_file"
      uppercase_operation_id: "LOOKUP_FILE"
      path: "/file/lookup"
      HttpMethod: "Get"
      httpmethod: "get"
  /file/edit/{edit_id}:
    get:
      tags:
      - "files"
      operationId: "get_file_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_file_edit"
      uppercase_operation_id: "GET_FILE_EDIT"
      path: "/file/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
    delete:
      tags:
      - "files"
      operationId: "delete_file_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_FILE_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_FILE_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_file_edit"
      uppercase_operation_id: "DELETE_FILE_EDIT"
      path: "/file/edit/:edit_id"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /fileset:
    post:
      tags:
      - "filesets"
      operationId: "create_fileset"
      parameters:
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/fileset_entity"
        uppercase_data_type: "FILESETENTITY"
        refName: "fileset_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_FILESET"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_FILESET"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_fileset"
      uppercase_operation_id: "CREATE_FILESET"
      path: "/fileset"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /fileset/batch:
    post:
      tags:
      - "filesets"
      operationId: "create_fileset_batch"
      parameters:
      - name: "autoaccept"
        in: "query"
        description: "If true, and editor is authorized, batch is accepted all at\
          \ once"
        required: false
        type: "boolean"
        formatString: "{:?}"
        example: "Some(true)"
      - name: "editgroup_id"
        in: "query"
        description: "Editgroup to auto-accept and apply to all entities (required\
          \ if 'autoaccept' is True)"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      - in: "body"
        name: "entity_list"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/fileset_entity"
        formatString: "{:?}"
        example: "&Vec::new()"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_FILESET_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Entities"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntities"
          x-uppercaseResponseId: "CREATED_ENTITIES"
          uppercase_operation_id: "CREATE_FILESET_BATCH"
          uppercase_data_type: "VEC<ENTITYEDIT>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_FILESET_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_FILESET_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_FILESET_BATCH"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_fileset_batch"
      uppercase_operation_id: "CREATE_FILESET_BATCH"
      path: "/fileset/batch"
      HttpMethod: "Post"
      httpmethod: "post"
  /fileset/{ident}:
    get:
      tags:
      - "filesets"
      operationId: "get_fileset"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For filesets, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For filesets, 'manifest'\
          \ is accepted."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity"
          schema:
            $ref: "#/definitions/fileset_entity"
          x-responseId: "FoundEntity"
          x-uppercaseResponseId: "FOUND_ENTITY"
          uppercase_operation_id: "GET_FILESET"
          uppercase_data_type: "FILESETENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_fileset"
      uppercase_operation_id: "GET_FILESET"
      path: "/fileset/:ident"
      HttpMethod: "Get"
      httpmethod: "get"
    put:
      tags:
      - "filesets"
      operationId: "update_fileset"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/fileset_entity"
        uppercase_data_type: "FILESETENTITY"
        refName: "fileset_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "UPDATE_FILESET"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Updated Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "UpdatedEntity"
          x-uppercaseResponseId: "UPDATED_ENTITY"
          uppercase_operation_id: "UPDATE_FILESET"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "UPDATE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "UPDATE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "UPDATE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "update_fileset"
      uppercase_operation_id: "UPDATE_FILESET"
      path: "/fileset/:ident"
      HttpMethod: "Put"
      httpmethod: "put"
      noClientExample: true
    delete:
      tags:
      - "filesets"
      operationId: "delete_fileset"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        200:
          description: "Deleted Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "DeletedEntity"
          x-uppercaseResponseId: "DELETED_ENTITY"
          uppercase_operation_id: "DELETE_FILESET"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_FILESET"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_fileset"
      uppercase_operation_id: "DELETE_FILESET"
      path: "/fileset/:ident"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /fileset/rev/{rev_id}:
    get:
      tags:
      - "filesets"
      operationId: "get_fileset_revision"
      parameters:
      - name: "rev_id"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"rev_id_example\".to_string()"
      - name: "expand"
        in: "query"
        description: "List of sub-entities to expand in response. For filesets, none\
          \ accepted (yet)."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"expand_example\".to_string())"
      - name: "hide"
        in: "query"
        description: "List of entity fields to elide in response. For filesets, 'manifest'\
          \ is accepted."
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"hide_example\".to_string())"
      responses:
        200:
          description: "Found Entity Revision"
          schema:
            $ref: "#/definitions/fileset_entity"
          x-responseId: "FoundEntityRevision"
          x-uppercaseResponseId: "FOUND_ENTITY_REVISION"
          uppercase_operation_id: "GET_FILESET_REVISION"
          uppercase_data_type: "FILESETENTITY"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILESET_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILESET_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILESET_REVISION"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_fileset_revision"
      uppercase_operation_id: "GET_FILESET_REVISION"
      path: "/fileset/rev/:rev_id"
      HttpMethod: "Get"
      httpmethod: "get"
  /fileset/{ident}/history:
    get:
      tags:
      - "filesets"
      operationId: "get_fileset_history"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        formatString: "{:?}"
        example: "Some(789)"
      responses:
        200:
          description: "Found Entity History"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_history_entry"
          x-responseId: "FoundEntityHistory"
          x-uppercaseResponseId: "FOUND_ENTITY_HISTORY"
          uppercase_operation_id: "GET_FILESET_HISTORY"
          uppercase_data_type: "VEC<ENTITYHISTORYENTRY>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILESET_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILESET_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILESET_HISTORY"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_fileset_history"
      uppercase_operation_id: "GET_FILESET_HISTORY"
      path: "/fileset/:ident/history"
      HttpMethod: "Get"
      httpmethod: "get"
  /fileset/{ident}/redirects:
    get:
      tags:
      - "filesets"
      operationId: "get_fileset_redirects"
      parameters:
      - name: "ident"
        in: "path"
        required: true
        type: "string"
        formatString: "\\\"{}\\\""
        example: "\"ident_example\".to_string()"
      responses:
        200:
          description: "Found Entity Redirects"
          schema:
            type: "array"
            items:
              type: "string"
          x-responseId: "FoundEntityRedirects"
          x-uppercaseResponseId: "FOUND_ENTITY_REDIRECTS"
          uppercase_operation_id: "GET_FILESET_REDIRECTS"
          uppercase_data_type: "VEC<STRING>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILESET_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILESET_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILESET_REDIRECTS"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_fileset_redirects"
      uppercase_operation_id: "GET_FILESET_REDIRECTS"
      path: "/fileset/:ident/redirects"
      HttpMethod: "Get"
      httpmethod: "get"
  /fileset/edit/{edit_id}:
    get:
      tags:
      - "filesets"
      operationId: "get_fileset_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Found Edit"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "FoundEdit"
          x-uppercaseResponseId: "FOUND_EDIT"
          uppercase_operation_id: "GET_FILESET_EDIT"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "GET_FILESET_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "GET_FILESET_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "GET_FILESET_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "get_fileset_edit"
      uppercase_operation_id: "GET_FILESET_EDIT"
      path: "/fileset/edit/:edit_id"
      HttpMethod: "Get"
      httpmethod: "get"
    delete:
      tags:
      - "filesets"
      operationId: "delete_fileset_edit"
      parameters:
      - name: "edit_id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        formatString: "{}"
        example: "789"
      responses:
        200:
          description: "Deleted Edit"
          schema:
            $ref: "#/definitions/success"
          x-responseId: "DeletedEdit"
          x-uppercaseResponseId: "DELETED_EDIT"
          uppercase_operation_id: "DELETE_FILESET_EDIT"
          uppercase_data_type: "SUCCESS"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "DELETE_FILESET_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "DELETE_FILESET_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "DELETE_FILESET_EDIT"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "delete_fileset_edit"
      uppercase_operation_id: "DELETE_FILESET_EDIT"
      path: "/fileset/edit/:edit_id"
      HttpMethod: "Delete"
      httpmethod: "delete"
  /webcapture:
    post:
      tags:
      - "webcaptures"
      operationId: "create_webcapture"
      parameters:
      - in: "body"
        name: "entity"
        required: true
        schema:
          $ref: "#/definitions/webcapture_entity"
        uppercase_data_type: "WEBCAPTUREENTITY"
        refName: "webcapture_entity"
        formatString: "{:?}"
        example: "???"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_WEBCAPTURE"
        consumesJson: true
      - name: "editgroup_id"
        in: "query"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      responses:
        201:
          description: "Created Entity"
          schema:
            $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntity"
          x-uppercaseResponseId: "CREATED_ENTITY"
          uppercase_operation_id: "CREATE_WEBCAPTURE"
          uppercase_data_type: "ENTITYEDIT"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_WEBCAPTURE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "NotFound"
          x-uppercaseResponseId: "NOT_FOUND"
          uppercase_operation_id: "CREATE_WEBCAPTURE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
        500:
          description: "Generic Error"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "GenericError"
          x-uppercaseResponseId: "GENERIC_ERROR"
          uppercase_operation_id: "CREATE_WEBCAPTURE"
          uppercase_data_type: "ERRORRESPONSE"
          producesJson: true
      operation_id: "create_webcapture"
      uppercase_operation_id: "CREATE_WEBCAPTURE"
      path: "/webcapture"
      HttpMethod: "Post"
      httpmethod: "post"
      noClientExample: true
  /webcapture/batch:
    post:
      tags:
      - "webcaptures"
      operationId: "create_webcapture_batch"
      parameters:
      - name: "autoaccept"
        in: "query"
        description: "If true, and editor is authorized, batch is accepted all at\
          \ once"
        required: false
        type: "boolean"
        formatString: "{:?}"
        example: "Some(true)"
      - name: "editgroup_id"
        in: "query"
        description: "Editgroup to auto-accept and apply to all entities (required\
          \ if 'autoaccept' is True)"
        required: false
        type: "string"
        formatString: "{:?}"
        example: "Some(\"editgroup_id_example\".to_string())"
      - in: "body"
        name: "entity_list"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/webcapture_entity"
        formatString: "{:?}"
        example: "&Vec::new()"
        model_key: "editgroup_edits"
        uppercase_operation_id: "CREATE_WEBCAPTURE_BATCH"
        consumesJson: true
      responses:
        201:
          description: "Created Entities"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/entity_edit"
          x-responseId: "CreatedEntities"
          x-uppercaseResponseId: "CREATED_ENTITIES"
          uppercase_operation_id: "CREATE_WEBCAPTURE_BATCH"
          uppercase_data_type: "VEC<ENTITYEDIT>"
          producesJson: true
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error_response"
          x-responseId: "BadRequest"
          x-uppercaseResponseId: "BAD_REQUEST"
          uppercase_operation_id: "CREATE_WEBCAPTURE_BATCH"
[...]
