[flake8]
select = C,E,F,W,ANN
# ANN002,ANN003 is annotation on, eg, **kwargs
# ANN101 is annotation on 'self'
# ANN204 is annotation on '__init__()'
# E265,E266 are restrictions on comments ('#')
# E501 is line-too-long, which we enforce with black
# W503,E203 are allowed by black
ignore = ANN002,ANN003,ANN101,ANN204,E265,E266,E501,W503,E203
per-file-ignores =
    */__init__.py: F401
    fatcat_web/__init__.py: E402,F401
    tests/*.py: F401,F811,ANN201,ANN001,F403,F405
    tests/transform_csl.py: F401,F811,W291
exclude = .git,__pycache__,.venv
max-line-length = 96
# TODO: should reduce max-complexity
max-complexity = 100
