[MESSAGES CONTROL]
# TODO: should re-enable some of these
disable=C0323,W0142,C0301,C0103,C0111,E0213,C0302,C0203,W0703,R0201,W0223,bad-continuation,arguments-differ,unidiomatic-typecheck,unused-wildcard-import,no-member,cyclic-import,too-few-public-methods,wildcard-import,too-many-locals,too-many-ancestors,unused-import

[REPORTS]
output-format=colorized
include-ids=yes

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,DELETEME

[TYPECHECK]
ignored-modules=responses
