FLASK_SECRET_KEY=""
# This key used in tests
FATCAT_API_AUTH_TOKEN="AgEPZGV2LmZhdGNhdC53aWtpAg4yMDE4LTEyLTMxLWRldgACJmVkaXRvcl9pZCA9IGFhYWFhYWFhYWFhYWJrdmthYWFhYWFhYWF1AAIeY3JlYXRlZCA9IDIwMTktMDEtMDhUMDA6Mzc6NTBaAAAGIIKoI0wnIBTF0V+w2DyOt4OMMBfO+EX/GIqnBy+tOrDv"
FATCAT_API_HOST="http://localhost:9411/v0"
ELASTICSEARCH_BACKEND="http://localhost:9200"
ELASTICSEARCH_INDEX="fatcat"
GITLAB_CLIENT_ID=""
GITLAB_CLIENT_SECRET=""
IA_XAUTH_CLIENT_ID=""
IA_XAUTH_CLIENT_SECRET=""
SENTRY_DSN=""
