FLASK_SECRET_KEY=""
# This key used in tests
FATCAT_API_AUTH_TOKEN="AgEPZGV2LmZhdGNhdC53aWtpAg4yMDE4LTEyLTMxLWRldgACJmVkaXRvcl9pZCA9IGFhYWFhYWFhYWFhYWJrdmthYWFhYWFhYWFpAAIbdGltZSA+IDIwMTktMDEtMDhUMjM6MzY6NDRaAAAGIK1s5s0Z75h6yqaVa5b9grvEKBBE4pVnBieOc0CaKTI1"
FATCAT_API_HOST="http://localhost:9411/v0"
ELASTICSEARCH_BACKEND="http://localhost:9200"
ELASTICSEARCH_INDEX="fatcat"
GITLAB_CLIENT_ID=""
GITLAB_CLIENT_SECRET=""
IA_XAUTH_CLIENT_ID=""
IA_XAUTH_CLIENT_SECRET=""
SENTRY_DSN=""

# These auth keys only for workers/importers; locally will fall back to
# FATCAT_API_AUTH_TOKEN
FATCAT_AUTH_WORKER_CROSSREF=""
FATCAT_AUTH_WORKER_ORCID=""
FATCAT_AUTH_WORKER_ISSN=""
FATCAT_AUTH_WORKER_MATCHED=""
FATCAT_AUTH_WORKER_GROBID_METADATA=""
