FLASK_SECRET_KEY=""
FATCAT_API_AUTH_TOKEN=""
FATCAT_API_HOST="http://localhost:9411/v0"
ELASTICSEARCH_BACKEND="http://localhost:9200"
ELASTICSEARCH_INDEX="fatcat"
GITLAB_CLIENT_ID=""
GITLAB_CLIENT_SECRET=""
SENTRY_DSN=""
