
# This file is *not* used as part of bundling or distributing the python client
# library (fatcat_client). It *is* shared by the web interface (flask app),
# workers, and import scripts.

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=4"
pytest-pythonpath = "*"
pytest-pylint = "*"
ipython = "*"
responses = ">=0.10"
pytest-cov = "*"
pylint = "*"
pg-view = "*"

[packages]
fatcat_client = { path = "./../python_client", editable = true }
python-dotenv = "*"
Flask = ">=1"
flask-uuid = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-wtf = "*"
Flask-Misaka = "*"
WTForms = "*"
loginpass = "*"
requests = ">=2"
raven = { extras = ['flask'], version = "*" }
pykafka = ">=2"
confluent-kafka = "*"
python-dateutil = "*"
sickle = "*"
python-snappy = "*"
pymacaroons = "*"
ftfy= "*"
citeproc-py = "*"
citeproc-py-styles = "*"
bs4 = "*"
python-magic = "*"

[requires]
# Python 3.5 is the bundled (system) version of python for Ubuntu 16.04
# (Xenial), currently the default on Internet Archive production VMs, as well
# as Debian stable (stretch). Will probably bump to 3.6 in early 2019 when
# updating both of these environments.
python_version = "3.5"
