# This file is *not* used as part of bundling or distributing the python client
# library (fatcat-openapi-client). It *is* shared by the web interface (flask app),
# workers, and import scripts.

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=5,<6.0.0"
pytest-pythonpath = "*"
pytest-pylint = "*"
ipython = "*"
responses = ">=0.10"
pytest-cov = "*"
pylint = "*"
pg-view = "*"
pytest-mock = "*"
flake8 = "*"

[packages]
fatcat-openapi-client = {path = "./../python_openapi_client"}
python-dotenv = "*"
Flask = ">=1"
flask-uuid = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-wtf = "*"
Flask-Misaka = "*"
flask-mwoauth = "*"
WTForms = "*"
loginpass = "==0.4"
# loginpass 0.4 is not actually compatible with newer authlib
authlib = "<0.13"
requests = ">=2"
raven = {extras = ['flask'],version = "*"}
pykafka = ">=2"
confluent-kafka = "*"
python-dateutil = "*"
sickle = "*"
python-snappy = "*"
pymacaroons = "*"
ftfy = "*"
citeproc-py = ">=0.4"
citeproc-py-styles = ">=0.1"
bs4 = "*"
python-magic = "*"
pylatexenc = "*"
pygal = "*"
elasticsearch-dsl = ">=6.0.0,<7.0.0"
elasticsearch = ">=6.0.0,<7.0.0"
dateparser = ">=0.7"
langdetect = "*"
pathlib2 = "*"
pycountry = "==19.8.18"
tldextract = "*"
toml = ">=0.10"

[requires]
# We install Python 3.7 using a PPA (deadsnakes) on Internet Archive cluster
# machines, which as of Spring 2020 are still running Ubuntu Xenial (16.04),
# which has a system default of Python 3.5.
python_version = "3.7"
